<div class="container">
  <div class="row">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button default-href="#" routerLink="/"></ion-back-button>
      </ion-buttons>
      <ion-title>
        Notification
      </ion-title>
      <ion-buttons slot="secondary">
        <ion-button> <ion-icon name="notifications-outline"></ion-icon> </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </div>
  <div class="row">
    <h1>Today</h1>
  </div>
  <div class="row">
    <div class="col ">
      <ion-card  class="mt-2">
        <div class="col ">
          <div class="d2 d">
            <div class="icon circle-container" slot="start"><ion-icon name="checkmark-circle"></ion-icon>
            </div>
            <div class="content">
              <h3>Payment Request</h3>
              <p><small>Agent sent you a payment request</small></p>
            </div>
          </div>
        </div>
      </ion-card>
      <ion-card class="mt-2">
        <div class="col ">
          <div class="d2 d">
            <div class="icon circle-container" slot="start"><ion-icon name="grid"></ion-icon>
            </div>
            <div class="content">
              <h3>New Category Services!</h3>
              <p><small>Now the Appliance Repairing is available </small></p>
            </div>
          </div>
        </div>
      </ion-card>
    </div>
  </div>
  <div class="row">
    <h1>Yesterday</h1>
  </div>
  <div class="row">
    <div class="col ">
      <ion-card class="mt-2">
        <div class="col ">
          <div class="d2 d">
            <div class="icon circle-container" slot="start"><ion-icon name="close-circle"></ion-icon>
            </div>
            <div class="content">
              <h3>Account Setup Successful!</h3>
              <p><small>Your account has been created!</small></p>
            </div>
          </div>
        </div>
      </ion-card>
      <ion-card class="mt-2">
        <div class="col ">
          <div class="d2 d">
            <div class="icon circle-container" slot="start"><ion-icon name="checkmark-circle"></ion-icon>
            </div>
            <div class="content">
              <h3>Payment Faild!</h3>
              <p><small>You have made a services payment</small></p>
            </div>
          </div>
        </div>
      </ion-card>
      <ion-card class="mt-2">
        <div class="col ">
          <div class="d2 d">
            <div class="icon circle-container" slot="start"><ion-icon name="wallet"></ion-icon>
            </div>
            <div class="content">
              <h3>Payment Successful!</h3>
              <p><small>You have made a services payment</small></p>
            </div>
          </div>
        </div>
      </ion-card>
    </div>
  </div>
</div>
