.no-internet-main{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    .no-internet-inner{
        .back-online{
            color: rgb(35, 172, 35);
        }
    }
}