<ion-tabs>

    <ion-tab-bar slot="bottom,top" class="footer">
        <ion-tab-button tab="home" class="footer-ion-tab-button" *ngIf="showHeader">
          <img src="assets/icon/navbar/home.svg" alt="">
          <ion-label>Home</ion-label>
        </ion-tab-button>
        <ion-tab-button tab="booking/upcoming-history" class="footer-ion-tab-button"  *ngIf="showHeader">
          <img src="assets/icon/navbar/calendar.svg" alt="">
          <ion-label>Bookings</ion-label>
        </ion-tab-button>
        <ion-tab-button tab="cart/all/all" class="footer-ion-tab-button"  *ngIf="showHeader">
          <img src="assets/icon/navbar/cart.svg" alt="">
          <ion-label>Cart</ion-label>
        </ion-tab-button>
        <ion-tab-button tab="profile" class="footer-ion-tab-button"  *ngIf="showHeader">
          <img src="assets/icon/navbar/profile.svg" alt="">
          <ion-label>Profile</ion-label>
        </ion-tab-button>
    </ion-tab-bar>
</ion-tabs>