<app-home-header [MAX_ADDRESS_LINE_LENGTH]="30"></app-home-header>

<ion-content class="ion-padding" [fullscreen]="true">
  <button id="search" routerLink="../search">
    <p>Search what you need</p>
    <span>
      <img src="assets/ui_icons/search.svg" alt="" />
    </span>
  </button>
  <div class="banner-container">
    <swiper-container [loop]="true" [autoplay]="{delpay : 2000}" [spaceBetween]="20" [pagination]="{clickable: true}">
      <swiper-slide *ngFor="let items of promotionalBanners">
        <a href="{{items.url}}">
          <img src="{{items.image}}" alt="">
        </a>
      </swiper-slide>
    </swiper-container>
  </div>

  <div class="recent-container">
    <ion-label class="label">Recent Activity</ion-label>

    <swiper-container [loop]="true" [spaceBetween]="20">
      <swiper-slide class="recent-container-details" *ngFor="let data of recentActivityData">
      <!-- <div class="recent-container-details" *ngFor="let data of recentActivityData"> -->
        <ion-grid width="100" >
          <ion-row class="row-1">
            <ion-col>
              <ion-label class="row-1label">{{data.subCategory.name}}</ion-label>
              <p>{{data.billing.grandTotal | currency:'INR'}}</p>
            </ion-col>
            <ion-col class="row-1-col-2">
              <div class="status-box">
                {{data.stage}}
              </div>

            </ion-col>
          </ion-row>
          <ion-row class="row-2">
            <ion-col class="row-2-col-1">
              <span>Serviced By</span>
              <h3>Vijay Solanki</h3>
            </ion-col>
            <ion-col class="row-2-col-1">
              <span>Time</span>
              <h3>{{data.createdAt.toDate() | date:'hh:mm a'}}</h3>
            </ion-col>
            <ion-col>
              <span>{{data.createdAt.toDate() | date: 'shortDate'}}</span>
              <h3>{{data.createdAt.toDate() | date: 'EEEE'}}</h3>
            </ion-col>
          </ion-row>

        </ion-grid>
      <!-- </div> -->
    </swiper-slide>
    </swiper-container>
  </div>
  <div> <!--added by ronak-->
    <hr class="horizontalRow">
    <h4> Categories of Services</h4>
    <ion-row>
      <ion-col class="serviceCategoriesImages">
        <a routerLink='../../sub-Categories'>
          <img src="assets/images/AcRepair.jpg" alt=""></a>
      </ion-col>

      <ion-col class="serviceCategoriesImages">
        <a href="#">
          <img src="assets/images/HomeCleaning.jpg" alt=""></a>
      </ion-col>
      <ion-col class="serviceCategoriesImages">
        <a href="#">
          <img src="assets/images/KitchenCleaning.png" alt=""></a>
      </ion-col>
      <ion-col class="serviceCategoriesImages">
        <!-- <span routerLink="../all-categories/">See All</span>-->
        <img src="assets/images/SeeAll.png" routerLink="../all-categories/" alt="">
      </ion-col>
    </ion-row>
    <ion-row class="mainCategory" *ngIf="categories != undefined">
      <ion-col class="serviceCategoriesLabels"> {{categories![0]?.name}} </ion-col>
      <ion-col class="serviceCategoriesLabels"> {{categories![1]?.name}} </ion-col>
      <ion-col class="serviceCategoriesLabels"> {{categories![2]?.name}} </ion-col>
      <ion-col class="serviceCategoriesLabels"><span routerLink="../all-categories/">See All</span></ion-col>
    </ion-row>
    <hr class="horizontalRow">
  </div>
  <div class="mainCategory" *ngFor="let mainCategory of homeService.mainCategories | async">
    <div *ngIf="mainCategory.name !== '' "></div>
    <h3>{{mainCategory.name}}</h3>
    <img class="banner" [src]="mainCategory.image" alt="">
    <div class="container">
      <div class="heading">
        <div class="col-9">
          <h4>Services</h4>
        </div>
        <div class="see-all-button">
          <span routerLink="../sub-Categories/{{mainCategory.id}}">See All</span>
          <img src="assets/icon/rightArrow/rightArrow.svg">
        </div>
      </div>
    </div>
    <div class="container mt-2">
      <div class="row serviceRowOverflow">
        <div class="col text-center" *ngFor="let subCategory of mainCategory.subCategories">
          <ion-thumbnail routerLink="../services/{{mainCategory.id}}/{{subCategory.id}}">
            <img alt="" src="{{subCategory.image}}" />
            <ion-label class="mt-4">{{subCategory.name}}</ion-label>
          </ion-thumbnail>
        </div>
      </div>
    </div>
  </div>

  <div class="banner-container">
    <swiper-container [loop]="true" [autoplay]="{delpay : 2000}" [spaceBetween]="20" [pagination]="{clickable: true}">
      <swiper-slide *ngFor="let items of banners">
        <img src="{{items.img}}" alt="">
      </swiper-slide>
    </swiper-container>
  </div>

  <div class="client-section">
    <ion-label class="label">Clients that Trust Us!</ion-label>
    <ion-grid>
      <marquee width="100%" direction="right">
        <ion-row>
          <ion-col size="4">
            <img src="assets/images/clientImg/ramada.png" alt="">
          </ion-col>
          <ion-col size="4">
            <img src="assets/images/clientImg/radisson.png" alt="">
          </ion-col>
          <ion-col size="4">
            <img src="assets/images/clientImg/marriott.png" alt="">
          </ion-col>
        </ion-row>
      </marquee>
    </ion-grid>

    <ion-grid>
      <marquee width="100%" direction="left">
        <ion-row>
          <ion-col size="4">
            <img src="assets/images/clientImg/royalOrchid.png" alt="">
          </ion-col>
          <ion-col size="4">
            <img src="assets/images/clientImg/trident.png" alt="">
          </ion-col>
          <ion-col size="4">
            <img src="assets/images/clientImg/itcHotels.png" alt="">
          </ion-col>
        </ion-row>
      </marquee>
    </ion-grid>
  </div>

  <div class="why-choose-us-section">
    <ion-label class="label">Why Choose Us</ion-label>
    <ion-grid>
      <ion-row>
        <ion-col>
          <img src="assets/covidprotection.svg" alt="">
          <ion-label>Covid Protection</ion-label>
        </ion-col>
        <ion-col>
          <img src="assets/hasselfreebooking.svg" alt="">
          <ion-label>Hassel-free Booking</ion-label>
        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-grid>
      <ion-row>
        <ion-col>
          <div class="supportImg">
            <div class="Imgcontainer">
              <img src="assets/support.svg" alt="">
            </div>
          </div>

          <ion-label>24x7 Support</ion-label>
        </ion-col>
        <ion-col>
          <img src="assets/cancellation.svg" alt="">
          <ion-label>Easy Cancellation</ion-label>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>