ion-content {
  $secondaryTextColor: #9b9e9f;
  $primaryBackgroundColor: black;
  #search {
    display: inline-flex;
    padding: 9px 13px;
    padding-right: 9px;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    border: 1px solid #bebebe;
    background: #fff;
    /* Drop Shadow */
    box-shadow: 0px 2px 6px 1px rgba(22, 22, 22, 0.1);
    width: 100%;
    height: 50px;
    p {
      color: $secondaryTextColor;
      margin: 0;
    }
    span {
      background-color: $primaryBackgroundColor;
      border-radius: 8px;
      color: white;
      width: 32px;
      height: 32px;
      display: grid;
      place-items: center;
    }
  }
  .swiperContainer {
    padding-block: 30px;
  }
}
#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  margin-left: 0%;
  margin-right: 0%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}

.example-spacer {
  flex: 1 1 auto;
}

.margin {
  margin-top: 5%;
}
ion-thumbnail {
  --size: 100px;
  --border-radius: 14px;
}
@media only screen and (max-width: 600px) {
  .margin {
    margin-top: 15%;
  }
}

.footer {
  /* position: fixed; */
  left: 0;
  bottom: 0;
  width: 100%;
}


.mainCategory{
  .banner{
    width: 100%;
    height: 150px;
    object-fit: cover;
    box-shadow: 0px 2px 15px rgba(22, 22, 22, 0.1);
    border-radius: 20px;
  }
  .subCategories{
    display: flex;
    justify-content: flex-start;
    margin-top: 10px;
    gap:20px;
    padding-top: 20px;
    .category{
      width: 170px;
      height: 200px;
      img{
        width: 170px;
        height: 170px;
        object-fit: cover;
        border-radius: 20px;
      }
    }
  }
}