<app-header1 [name]="name"></app-header1>

<ion-content>
    <div class="container">
        <div class="head">
            <h2>1820</h2><img src="assets/icon/confirmation/Frame.svg" alt="">
        </div>
        <ion-input type="text" placeholder="Enter the characters"></ion-input>
        <ion-button routerLink="/order-placed" expand="block" color="dark">
            Confirm Booking
        </ion-button>
        
        <a routerLink="/select-payment-method">Return to payment options</a>
    </div>
</ion-content>