    <!-- Meta Pixel Code -->
    <script>
      !function(f,b,e,v,n,t,s)
      {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
      n.callMethod.apply(n,arguments):n.queue.push(arguments)};
      if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
      n.queue=[];t=b.createElement(e);t.async=!0;
      t.src=v;s=b.getElementsByTagName(e)[0];
      s.parentNode.insertBefore(t,s)}(window, document,'script',
      'https://connect.facebook.net/en_US/fbevents.js');
      fbq('init', '1568394303656056');
      fbq('track', 'PageView');
      </script>
      <noscript><img height="1" width="1" style="display:none"
      src="https://www.facebook.com/tr?id=1568394303656056&ev=PageView&noscript=1"
      /></noscript>
      <!-- End Meta Pixel Code -->

<ng-container *ngIf="mobileView">
  <ion-content #content [fullscreen]="true">
    <div class="map-box">
      <google-map
        width="100%"
        height="100%"
        [center]="center"
        [zoom]="zoom"
        (mapClick)="moveMap($event)"
        (mapMousemove)="move($event)"
      >
        <map-marker
          *ngIf="currentPosition"
          [options]="markerOptions"
          [position]="currentPosition"
          (mapDragend)="newPosition($event)"
        ></map-marker>
        <map-circle
          *ngIf="isGoogleMapReady"
          [center]="center"
          [radius]="circleRadius*800"
          [options]="mapOptionsCircle"
          (circleClick)="moveMap($event)"
          fillColor="green"
        />
      </google-map>
      <div class="info">
        <ion-grid>
          <ion-row class="ion-align-items-center ion-justify-content-between">
            <ion-col size="7">
              <span class="loc">
                <ion-img
                  src="../../../assets/fetchAddress/pin_drop_24px.svg"
                ></ion-img>
              </span>
              <ion-label class="text">{{areaName}}</ion-label>
            </ion-col>
            <ion-col (click)="changeLoc()" class="btn" size="5">
              CHANGE
            </ion-col>
          </ion-row>

          <ion-row class="ion-justify-content-center ion-align-items-center">
            {{formattedAdd}}
          </ion-row>

          <ion-row class="ion-justify-content-center ion-align-items-center">
            <button (click)="confirmLoc()" *ngIf="isCatalogue" class="button">
              <svg *ngIf="loading" viewBox="25 25 50 50">
                <circle r="24" cy="50" cx="50"></circle>
              </svg>
              <span *ngIf="!loading">Confirm Location</span>
            </button>

            <span *ngIf="!isCatalogue" class="warning">
              <ion-img
                src="../../../assets/fetchAddress/Group 1000004944.svg"
              ></ion-img>
              <ion-label class="text2">No Services at this location</ion-label>
            </span>
          </ion-row>
        </ion-grid>
      </div>
    </div>
  </ion-content>
</ng-container>

<ng-container *ngIf="!mobileView">
  <div id="web-view" class="back-container">
    <div class="main-container map-box">
      <google-map
        width="100%"
        height="100%"
        streetViewControl="false"
        mapTypeControl="false"
        [center]="center"
        [zoom]="zoom"
        (mapClick)="moveMap($event)"
        (mapMousemove)="move($event)"
      >
        <map-marker
          *ngIf="currentPosition"
          [options]="markerOptions"
          [position]="currentPosition"
          (mapDragend)="newPosition($event)"
        ></map-marker>
        <map-circle
          *ngIf="isGoogleMapReady"
          [center]="center"
          [radius]="circleRadius*800"
          [options]="mapOptionsCircle"
          (circleClick)="moveMap($event)"
          fillColor="green"
        />
      </google-map>
      <div class="info">
        <ion-img
          src="../../../assets/fetchAddress/Group 1000004951.svg"
          alt=""
          class="img-dest"
        ></ion-img>
        <ion-grid>
          <ion-row class="ion-align-items-center ion-justify-content-between">
            <ion-col class="label" size="7">
              <span class="loc">
                <ion-img
                  src="../../../assets/fetchAddress/pin_drop_24px.svg"
                ></ion-img>
              </span>
              <ion-label class="text">{{areaName}}</ion-label>
            </ion-col>
            <ion-col (click)="changeLoc()" class="btn" size="5">
              CHANGE
            </ion-col>
          </ion-row>

          <ion-row class="ion-justify-content-center ion-align-items-center">
            {{formattedAdd}}
          </ion-row>

          <ion-row class="ion-justify-content-center ion-align-items-center">
            <button (click)="confirmLoc()" *ngIf="isCatalogue" class="button">
              Confirm Location
            </button>

            <span *ngIf="!isCatalogue" class="warning">
              <ion-img
                src="../../../assets/fetchAddress/Group 1000004944.svg"
              ></ion-img>
              <ion-label class="text2">No Services at this location</ion-label>
            </span>
          </ion-row>
        </ion-grid>
      </div>
    </div>
  </div>
</ng-container>
