<ng-container *ngIf="mobileView">
    <ion-content class="mobile-view">
        <ion-header>
            <ion-toolbar>
                <ion-buttons slot="start" routerLink='../../home'>
                    <img class="leftArrow" src="assets/icon/leftArrow/leftArrow.svg" alt="">
                </ion-buttons>
                <ion-title>{{matchingMainCategory?.name}} Sub Categories</ion-title>
            </ion-toolbar>
        </ion-header>

        <ion-content [fullscreen]="true">
            <div class="subcategory-container">
                <div class="subcategory" *ngFor="let items of subCategory"
                    routerLink="../../services/{{mainCategoryId}}/{{items?.id}}">
                    <img src="{{items.image}}" alt="">
                    <h4>{{items.name}}</h4>
                </div>
            </div>
        </ion-content>
    </ion-content>
</ng-container>


<ng-container *ngIf="isModalOpen">
    <ion-header class="desktop-header">
        <ion-toolbar class="desktop-view-tab">
          <ion-buttons slot="start" (click)="back()">
            <img class="leftArrow" src="assets/icon/leftArrow/leftArrow.svg" alt="">
          </ion-buttons>
          <ion-title>{{matchingMainCategory?.name}} Sub Categories</ion-title>
          <ion-buttons class="cross-div" slot="end" (click)="back()">
            <img src="../../../assets/icon/cross-23.svg" alt="">
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
    <ion-content [fullscreen]="true">
        <div class="subcategory-container">
            <div class="subcategory" *ngFor="let items of subCategory" (click)="subCategoryFun(mainCategoryId , items?.id)">
                <img src="{{items.image}}" alt="">
                <h4>{{items.name}}</h4>
            </div>
        </div>
    </ion-content>
</ng-container>