<div class="container">
  <div class="row">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button default-href="#" routerLink="/"></ion-back-button>
      </ion-buttons>
      <ion-title size="large">
        Notification
      </ion-title>
      <ion-buttons slot="secondary">
        <ion-button> <ion-icon name="notifications-outline"></ion-icon> </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </div>
  <div class="row text-center mt-4">
    <div class="col"><img src="assets/Frame 34605.png" alt="Notification"></div>
  </div>

  <div class="container mt-4">
    <div class="row">
      <div class="col"><ion-button w-50 expand="block" color="dark">View all services</ion-button></div>
    </div>
  </div>

</div>



