<app-header1 [name]="name"></app-header1>

<ion-content>
  <div class="container">

    <div class="first-section">
      <section>
        <img [src]="successLogo" alt="">
        <h2>Your order has been Placed</h2>
        <p>Order ID: #{{this.dataProvider.currentBooking?.id}}</p>
      </section>
    </div>


    <div class="second-section">
      <div class="row-1">
        <p class="head">Services</p>
      </div>
      <ng-container *ngFor="let service of this.dataProvider.currentBooking?.services">
        <div class="row-2">
          <section class="left">
            <div>
              <img [src]="service.image" alt="">
            </div>
            <div style="margin-left: 16px;margin-top: 5px;">
              <span class="head">{{service.name}}</span><br>
              <span class="body">{{this.dataProvider.currentBooking?.subCategory?.name}}</span>
            </div>
          </section>
        </div>
        <div class="row-2" *ngFor="let variant of service.variants">
          <section class="left">
            <div style="margin-left: 16px;margin-top: 5px;">
              <span class="head">{{variant.name}}</span><br>
              <span class="body">Duration: {{variant.jobDuration}}</span>
            </div>
          </section>
          <section class="right">
            {{variant.billing.totalPrice | currency:'INR'}} 
          </section>
        </div>
      </ng-container>
    </div>

    <div class="third-section">
      <div class="row-1">
        <p class="head">Date & Time</p>
      </div>
      <div class="row-2">
        <section>
          <img src="assets/icon/order-placed/calendar.svg" alt="">
        </section>
        <section style="margin-left: 10px;">
          <p>Date</p>
          <span class="head">{{this.dataProvider.currentBooking?.timeSlot?.date?.toDate() | date:'longDate'}}</span><br>
        </section>
      </div>
      <div class="row-2">
        <section>
          <img src="assets/icon/order-placed/clock.svg" alt="">
        </section>
        <section style="margin-left: 10px;">
          <p>Time</p>
          <span class="head">{{slotStartTime | date:'h:mm' }} - {{ slotEndTime | date:'shortTime' }}</span><br>
        </section>
      </div>
    </div>

    <div class="forth-section">
      <div class="row-1">
        <p class="head">Address</p>
      </div>
      <div class="row-2">
        <section style="margin-left: 10px;">
          <p class="head">{{this.dataProvider.currentBooking?.address?.name}}</p>
          <p class="body">{{this.dataProvider.currentBooking?.address?.addressLine1}}</p>
          <p class="body">{{this.dataProvider.currentBooking?.address?.addressLine2}}</p>
          <p class="body">{{this.dataProvider.currentBooking?.address?.pinCode}}</p>
        </section>
      </div>
    </div>
    <footer>
      <ion-button routerLink="../rating" expand="block" color="dark">
        Back To Home
      </ion-button>
    </footer>
  </div>
</ion-content>

