<app-header-with-back
  [title]="'Refund And Pricing Policy'"
  [showHomeIcon]="true"
  [showNotificationIcon]="false"
></app-header-with-back>

<ion-content [fullscreen]="true">
  <div id="" class="main hide-on-desktop">
    <section>
      <h1>BOOKINGS</h1>
      <ul>
        <li>
          Orders: The Platform permits you to request various Pro Services at a
          time of your choosing based on available slots. To make a booking, you
          should follow the instructions on the Platform and provide necessary
          information. We use reasonable efforts to enable you to find a Service
          Professional who is able to provide that service at the requested
          time. If, in the unlikely event we cannot find a Service Professional
          for the specific timeslot, we will contact you to find an alternative
          time.
        </li>
        <li>
          Confirmation: Once you place a request we will provide confirmation of
          the booking via SMS, email or a push notification. Once your booking
          has been confirmed, you will be required to make the payment in
          accordance with these Terms or as indicated on the Platform. Once a
          Service Professional has been identified for the requested Pro
          Services, you shall receive confirmation in App or via SMS, email or a
          push notification.
        </li>
        <li>
          Cancellations: Bookings that are cancelled before confirmation on the
          Platform will not be charged. Jaipur Service Company’s cancellation
          policy sets out applicable cancellation fees.
        </li>
        <li>
          Substitution: In case of the unavailability of, or cancellation by a
          selected Service Professional, we will offer you a substitute of the
          Service Professional from among our registered Service Professionals.
        </li>
      </ul>
    </section>

    <section>
      <h1>PRICING, FEES, AND PAYMENT TERMS</h1>

      <p>
        Jaipur Service Company reserves the right to charge you for the
        different Services you may avail and/or for any other facilities you may
        opt for, from time to time, on or via the Platform.
      </p>
      <ul>
        <li>
          In respect of Pro Services that you seek to avail through the
          Platform, you shall be required to pay Service Professionals the
          amount indicated at the time of booking as well as amounts towards (a)
          any additional Pro Services you may avail, (b) out of pocket expenses
          incurred by the Service Professional, and (c) expenses arising out of
          the purchase of goods required or utilised for the performance of the
          Pro Service (“Charges”). In addition to the Charges payable to Service
          Professionals, Jaipur Service Company reserves the right to charge you
          a convenience fee for facilitating the booking and transferring
          payments to the Service Professional (this fee is referred to as
          “Fees”). You acknowledge that the final bill you receive may include
          additional charges, including without limitation, a safety fee,
          warranty fee, insurance fee, or Service Professional welfare fee.
        </li>
        <li>
          Jaipur Service Company shall notify you of the applicable Charges,
          Fees, and payment methods at the time of booking. Generally, you may
          make payments for Pro Services through credit cards, debit cards, net
          banking, wallets, UPI or cash upon completion of the Pro Service. We
          have the right to modify and otherwise restrict the modes of payment
          available to you. You acknowledge that certain payment methods such as
          cash upon completion may not always be available to you as a payment
          method. For the avoidance of doubt, in the event you pay through the
          method of ‘cash upon completion’, you acknowledge that you will be
          required to pay both Charges and Fees to the Service Professional.
        </li>
        <li>
          The Charges and Fees may be payable at the time of making a booking,
          or upon the completion of the Pro Service, as specified by Jaipur
          Service Company.
        </li>
        <li>
          For the avoidance of doubt, please note that the Charges are payable
          to Service Professionals, and Jaipur Service Company acts as a limited
          collection agent on behalf of such Service Professionals to collect
          and transfer amounts due to them.
        </li>
        <li>Taxes: All Charges and Fees are inclusive of applicable taxes.</li>
        <li>
          Jaipur Service Company reserves the right to reasonably amend the
          Charges and Fees at any time at its sole discretion. A change in Fees
          shall not impact any bookings that have been confirmed before the
          publication of the revised Fees on the Platform.
        </li>
        <li>
          Charges and Fees that you pay are final and non-refundable, unless
          otherwise determined by Jaipur Service Company or required by the
          applicable laws. Under certain laws, you may be entitled to a refund
          or other remedies for a failure in the provision of the Services.
        </li>
        <li>
          You acknowledge and agree that Charges and Fees applicable in certain
          geographical areas may increase substantially during times of high
          demand. Jaipur Service Company will use reasonable efforts to inform
          you of the Charges and Fees that may apply. However, by using the Pro
          Services or Services, you will be responsible for the Charges and Fees
          incurred under your Account regardless of your awareness of such
          Charges or Fees.
        </li>
        <li>
          Payment Processors: We may use a third-party payment processor
          (“Payment Processor”) to bill you through your selected mode of
          payment. The processing of payments will be subject to the terms and
          policies of such Payment Processor in addition to these Terms. We
          shall not be liable for any error of the Payment Processor. In the
          event of any unsuccessful payment, the money debited shall be credited
          in accordance with the terms of the Payment Processor.
        </li>
        <li>
          Cancellation: You may elect to cancel your request for services from a
          Service Professional at any time prior to such Service Professional’s
          arrival, in which case you may be charged a cancellation fee in
          accordance with Jaipur Service Company’s cancellation policy. Jaipur
          Service Company reserves the right to charge you, or otherwise deduct
          applicable taxes in respect of such cancellation fee.
        </li>
        <li>
          Subscriptions: Jaipur Service Company may from time to time offer
          subscription packages (howsoever named) for monetary consideration.
          The packages shall provide Customers with additional benefits, which
          may include the ability to avail discounted Pro Services. You agree
          that subscription packages (howsoever named) shall be subject to
          additional Refunds/Cancellations. You acknowledge that such
          subscription packages will be subject to additional terms and
          conditions that will be deemed to be an integral part of these Terms.
        </li>
        <li>
          Jaipur Service Company does not designate any portion of your payment
          as a tip or gratuity to the Service Professional. Any representation
          by Jaipur Service Company to the effect that tipping is “voluntary”,
          “not required”, and/or “included” in the payments you make for Pro
          Services is not intended to suggest that Jaipur Service Company
          provides any additional payments to Service Professionals. You
          understand and agree that while you are free to provide additional
          payment as a gratuity to any Service Professional who provides you
          with Pro Services, you are under no obligation to do so. Gratuities
          are voluntary.
        </li>
      </ul>
    </section>

    <section>
      <h1>DISCLAIMERS AND WARRANTIES</h1>
      <ul>
        <li>
          The Services are provided on an “as is” basis without warranty of any
          kind, express, implied, statutory or otherwise, including without
          limitation the implied warranties of title, non-infringement,
          merchantability, or fitness for a particular purpose. Without limiting
          the foregoing, we make no warranty that the Services will meet your
          requirements or expectations.
        </li>
        <li>
          No advice or information, whether oral or written, obtained by you
          from us shall create any warranty that is not expressly stated in the
          Terms.
        </li>
        <li>
          While Jaipur Service Company strives to provide accurate information
          about Pro Services and Charges, pricing errors may occur from time to
          time.
        </li>
        <li>
          You agree and acknowledge that we are merely a Platform that connects
          you with Service Professionals, and we shall not be liable in any
          manner for any obligations that have not been explicitly stated in
          these Terms. We are not liable or responsible for fulfilment of any
          bookings, for the performance of the Pro Services by any Service
          Professional, or for any acts or omissions of the Service
          Professionals during their provision of the Pro Services including any
          damage they may cause to property. By booking Pro Services through the
          Platform, you are entering into a contract with the relevant Service
          Provider for the provision of those services, and we accept no
          responsibility or liability, nor do we make any warranty,
          representation, or guarantee in respect of the Service Professional’s
          performance under that contract.
        </li>
        <li>
          You agree and acknowledge that soliciting or receiving services from
          any Service Professional independently is solely at your own risk, and
          in such an event, you waive any rights that you may have under these
          Terms.
        </li>
        <li>
          We do not guarantee or warrant and we make no representation
          whatsoever regarding the reliability, quality, or suitability of the
          Service Professionals.
        </li>
        <li>
          We do not guarantee or warrant and we make no representation
          whatsoever regarding the reliability, quality, or suitability of the
          Service Professionals.
        </li>
        <li>
          Jaipur Service Company will maintain a complaints management framework
          and will manage this framework on behalf of Service Professionals in a
          reasonable manner and in accordance with the non-excludable
          requirements of relevant applicable laws.
        </li>
        <li>
          To the fullest extent permissible by law, we, our affiliates, and our
          related parties, each disclaim all liability for any loss or damage
          arising out of, or due to:
        </li>
        <li>
          your use of, inability to use, or availability or unavailability of
          the Services or the Pro Services; (ii) the occurrence or existence of
          any defect, interruption, or delays, in the operation or transmission
          of information to, from, or through the Services, communications
          failure, theft, destruction, or unauthorised access to our records,
          programmes, services, servers, or other infrastructure relating to the
          Services; (iii) the failure of the Services to remain operational for
          any period of time; and (iv) the loss of any User Content and any
          other data in connection with your use of the Services.
        </li>
        <li>
          In no event shall Jaipur Service Company, its officers, directors, and
          employees, or its contractors, agents, licensors, partners,
          orsuppliers,be liable to you for any direct, special, indirect,
          incidental, consequential, punitive, reliance, or exemplary damages
          (including without limitation, lost business opportunities, lost
          revenues, or loss of anticipated profits or any other pecuniary or
          non-pecuniary loss or damage of any nature whatsoever, including but
          not limited to any abuse or breach of data), even if Jaipur Service
          Company or an authorised representative had been advised of the
          possibility of such damages, arising out of, or relating to (A) these
          Terms, (B) the Services or the Pro Services, (C) your use or inability
          to use the Services or the Pro Services, or (D) any other interactions
          with another user of the Services.
        </li>
        <li>
          To the maximum extent permitted by law, our liability shall be limited
          to the amount of commission we receive in respect of a particular
          booking made on the Platform. In no event shall our total liability to
          you in connection with these Terms exceed INR 10,000 (Rupees Ten
          Thousand).
        </li>
        <li>
          Nothing in these Terms will exclude or limit any warranty implied by
          law that it would be unlawful to exclude or limit.
        </li>
      </ul>
    </section>

    <section>
      <h1>INDEMNITY</h1>
      <ul>
        <li>
          You shall indemnify, defend at our option, and hold us, our parent
          companies, subsidiaries, affiliates, and our officers, employees,
          directors, agents, and representatives, harmless from and against any
          claim, demand, lawsuits, judicial proceeding, losses, liabilities,
          damages, and costs (including, without limitation, all damages,
          liabilities, settlements, and attorneys’ fees), due to or arising out
          of your access to the Services or Pro Services, use of the Services or
          Pro Services, violation of these Terms, or any violation of these
          Terms by any third party who may use your Account.
        </li>
      </ul>
    </section>

    <section>
      <h1>JURISDICTION, GOVERNING LAWS, AND DISPUTE RESOLUTION</h1>
      <ul>
        <li>
          These Terms shall be governed by and construed and enforced in
          accordance with the laws of India. Subject to other provisions in this
          clause, courts in New Delhi shall have exclusive jurisdiction over all
          issues arising out of these Terms or the use of the Services.
        </li>
        <li>
          Any controversies, conflicts, disputes, or differences, arising out of
          these Terms shall be resolved by arbitration in New Delhi in
          accordance with the Arbitration and Conciliation Act, 1996 for the
          time being in force, which is deemed to be incorporated by reference
          in this clause. The tribunal shall consist of 1 (One) arbitrator
          appointed by Jaipur Service Company. The language of the arbitration
          shall be English. The parties to the arbitration shall keep the
          arbitration confidential, and not disclose to any person, other than
          on a need to know basis, or to legal advisors, unless required to do
          so by law. The decision of the arbitrator shall be final and binding
          on all the parties thereto. Each party to the arbitration shall bear
          its own costs with respect to any dispute.
        </li>
      </ul>
    </section>
  </div>

  <div class="back-container hide-on-mobile" id="">
    <div class="main-container">
      <section>
        <h1>BOOKINGS</h1>
        <ul>
          <li>
            Orders: The Platform permits you to request various Pro Services at
            a time of your choosing based on available slots. To make a booking,
            you should follow the instructions on the Platform and provide
            necessary information. We use reasonable efforts to enable you to
            find a Service Professional who is able to provide that service at
            the requested time. If, in the unlikely event we cannot find a
            Service Professional for the specific timeslot, we will contact you
            to find an alternative time.
          </li>
          <li>
            Confirmation: Once you place a request we will provide confirmation
            of the booking via SMS, email or a push notification. Once your
            booking has been confirmed, you will be required to make the payment
            in accordance with these Terms or as indicated on the Platform. Once
            a Service Professional has been identified for the requested Pro
            Services, you shall receive confirmation in App or via SMS, email or
            a push notification.
          </li>
          <li>
            Cancellations: Bookings that are cancelled before confirmation on
            the Platform will not be charged. Jaipur Service Company’s
            cancellation policy sets out applicable cancellation fees.
          </li>
          <li>
            Substitution: In case of the unavailability of, or cancellation by a
            selected Service Professional, we will offer you a substitute of the
            Service Professional from among our registered Service
            Professionals.
          </li>
        </ul>
      </section>

      <section>
        <h1>PRICING, FEES, AND PAYMENT TERMS</h1>

        <p>
          Jaipur Service Company reserves the right to charge you for the
          different Services you may avail and/or for any other facilities you
          may opt for, from time to time, on or via the Platform.
        </p>
        <ul>
          <li>
            In respect of Pro Services that you seek to avail through the
            Platform, you shall be required to pay Service Professionals the
            amount indicated at the time of booking as well as amounts towards
            (a) any additional Pro Services you may avail, (b) out of pocket
            expenses incurred by the Service Professional, and (c) expenses
            arising out of the purchase of goods required or utilised for the
            performance of the Pro Service (“Charges”). In addition to the
            Charges payable to Service Professionals, Jaipur Service Company
            reserves the right to charge you a convenience fee for facilitating
            the booking and transferring payments to the Service Professional
            (this fee is referred to as “Fees”). You acknowledge that the final
            bill you receive may include additional charges, including without
            limitation, a safety fee, warranty fee, insurance fee, or Service
            Professional welfare fee.
          </li>
          <li>
            Jaipur Service Company shall notify you of the applicable Charges,
            Fees, and payment methods at the time of booking. Generally, you may
            make payments for Pro Services through credit cards, debit cards,
            net banking, wallets, UPI or cash upon completion of the Pro
            Service. We have the right to modify and otherwise restrict the
            modes of payment available to you. You acknowledge that certain
            payment methods such as cash upon completion may not always be
            available to you as a payment method. For the avoidance of doubt, in
            the event you pay through the method of ‘cash upon completion’, you
            acknowledge that you will be required to pay both Charges and Fees
            to the Service Professional.
          </li>
          <li>
            The Charges and Fees may be payable at the time of making a booking,
            or upon the completion of the Pro Service, as specified by Jaipur
            Service Company.
          </li>
          <li>
            For the avoidance of doubt, please note that the Charges are payable
            to Service Professionals, and Jaipur Service Company acts as a
            limited collection agent on behalf of such Service Professionals to
            collect and transfer amounts due to them.
          </li>
          <li>
            Taxes: All Charges and Fees are inclusive of applicable taxes.
          </li>
          <li>
            Jaipur Service Company reserves the right to reasonably amend the
            Charges and Fees at any time at its sole discretion. A change in
            Fees shall not impact any bookings that have been confirmed before
            the publication of the revised Fees on the Platform.
          </li>
          <li>
            Charges and Fees that you pay are final and non-refundable, unless
            otherwise determined by Jaipur Service Company or required by the
            applicable laws. Under certain laws, you may be entitled to a refund
            or other remedies for a failure in the provision of the Services.
          </li>
          <li>
            You acknowledge and agree that Charges and Fees applicable in
            certain geographical areas may increase substantially during times
            of high demand. Jaipur Service Company will use reasonable efforts
            to inform you of the Charges and Fees that may apply. However, by
            using the Pro Services or Services, you will be responsible for the
            Charges and Fees incurred under your Account regardless of your
            awareness of such Charges or Fees.
          </li>
          <li>
            Payment Processors: We may use a third-party payment processor
            (“Payment Processor”) to bill you through your selected mode of
            payment. The processing of payments will be subject to the terms and
            policies of such Payment Processor in addition to these Terms. We
            shall not be liable for any error of the Payment Processor. In the
            event of any unsuccessful payment, the money debited shall be
            credited in accordance with the terms of the Payment Processor.
          </li>
          <li>
            Cancellation: You may elect to cancel your request for services from
            a Service Professional at any time prior to such Service
            Professional’s arrival, in which case you may be charged a
            cancellation fee in accordance with Jaipur Service Company’s
            cancellation policy. Jaipur Service Company reserves the right to
            charge you, or otherwise deduct applicable taxes in respect of such
            cancellation fee.
          </li>
          <li>
            Subscriptions: Jaipur Service Company may from time to time offer
            subscription packages (howsoever named) for monetary consideration.
            The packages shall provide Customers with additional benefits, which
            may include the ability to avail discounted Pro Services. You agree
            that subscription packages (howsoever named) shall be subject to
            additional Refunds/Cancellations. You acknowledge that such
            subscription packages will be subject to additional terms and
            conditions that will be deemed to be an integral part of these
            Terms.
          </li>
          <li>
            Jaipur Service Company does not designate any portion of your
            payment as a tip or gratuity to the Service Professional. Any
            representation by Jaipur Service Company to the effect that tipping
            is “voluntary”, “not required”, and/or “included” in the payments
            you make for Pro Services is not intended to suggest that Jaipur
            Service Company provides any additional payments to Service
            Professionals. You understand and agree that while you are free to
            provide additional payment as a gratuity to any Service Professional
            who provides you with Pro Services, you are under no obligation to
            do so. Gratuities are voluntary.
          </li>
        </ul>
      </section>

      <section>
        <h1>DISCLAIMERS AND WARRANTIES</h1>
        <ul>
          <li>
            The Services are provided on an “as is” basis without warranty of
            any kind, express, implied, statutory or otherwise, including
            without limitation the implied warranties of title,
            non-infringement, merchantability, or fitness for a particular
            purpose. Without limiting the foregoing, we make no warranty that
            the Services will meet your requirements or expectations.
          </li>
          <li>
            No advice or information, whether oral or written, obtained by you
            from us shall create any warranty that is not expressly stated in
            the Terms.
          </li>
          <li>
            While Jaipur Service Company strives to provide accurate information
            about Pro Services and Charges, pricing errors may occur from time
            to time.
          </li>
          <li>
            You agree and acknowledge that we are merely a Platform that
            connects you with Service Professionals, and we shall not be liable
            in any manner for any obligations that have not been explicitly
            stated in these Terms. We are not liable or responsible for
            fulfilment of any bookings, for the performance of the Pro Services
            by any Service Professional, or for any acts or omissions of the
            Service Professionals during their provision of the Pro Services
            including any damage they may cause to property. By booking Pro
            Services through the Platform, you are entering into a contract with
            the relevant Service Provider for the provision of those services,
            and we accept no responsibility or liability, nor do we make any
            warranty, representation, or guarantee in respect of the Service
            Professional’s performance under that contract.
          </li>
          <li>
            You agree and acknowledge that soliciting or receiving services from
            any Service Professional independently is solely at your own risk,
            and in such an event, you waive any rights that you may have under
            these Terms.
          </li>
          <li>
            We do not guarantee or warrant and we make no representation
            whatsoever regarding the reliability, quality, or suitability of the
            Service Professionals.
          </li>
          <li>
            We do not guarantee or warrant and we make no representation
            whatsoever regarding the reliability, quality, or suitability of the
            Service Professionals.
          </li>
          <li>
            Jaipur Service Company will maintain a complaints management
            framework and will manage this framework on behalf of Service
            Professionals in a reasonable manner and in accordance with the
            non-excludable requirements of relevant applicable laws.
          </li>
          <li>
            To the fullest extent permissible by law, we, our affiliates, and
            our related parties, each disclaim all liability for any loss or
            damage arising out of, or due to:
          </li>
          <li>
            your use of, inability to use, or availability or unavailability of
            the Services or the Pro Services; (ii) the occurrence or existence
            of any defect, interruption, or delays, in the operation or
            transmission of information to, from, or through the Services,
            communications failure, theft, destruction, or unauthorised access
            to our records, programmes, services, servers, or other
            infrastructure relating to the Services; (iii) the failure of the
            Services to remain operational for any period of time; and (iv) the
            loss of any User Content and any other data in connection with your
            use of the Services.
          </li>
          <li>
            In no event shall Jaipur Service Company, its officers, directors,
            and employees, or its contractors, agents, licensors, partners,
            orsuppliers,be liable to you for any direct, special, indirect,
            incidental, consequential, punitive, reliance, or exemplary damages
            (including without limitation, lost business opportunities, lost
            revenues, or loss of anticipated profits or any other pecuniary or
            non-pecuniary loss or damage of any nature whatsoever, including but
            not limited to any abuse or breach of data), even if Jaipur Service
            Company or an authorised representative had been advised of the
            possibility of such damages, arising out of, or relating to (A)
            these Terms, (B) the Services or the Pro Services, (C) your use or
            inability to use the Services or the Pro Services, or (D) any other
            interactions with another user of the Services.
          </li>
          <li>
            To the maximum extent permitted by law, our liability shall be
            limited to the amount of commission we receive in respect of a
            particular booking made on the Platform. In no event shall our total
            liability to you in connection with these Terms exceed INR 10,000
            (Rupees Ten Thousand).
          </li>
          <li>
            Nothing in these Terms will exclude or limit any warranty implied by
            law that it would be unlawful to exclude or limit.
          </li>
        </ul>
      </section>

      <section>
        <h1>INDEMNITY</h1>
        <ul>
          <li>
            You shall indemnify, defend at our option, and hold us, our parent
            companies, subsidiaries, affiliates, and our officers, employees,
            directors, agents, and representatives, harmless from and against
            any claim, demand, lawsuits, judicial proceeding, losses,
            liabilities, damages, and costs (including, without limitation, all
            damages, liabilities, settlements, and attorneys’ fees), due to or
            arising out of your access to the Services or Pro Services, use of
            the Services or Pro Services, violation of these Terms, or any
            violation of these Terms by any third party who may use your
            Account.
          </li>
        </ul>
      </section>

      <section>
        <h1>JURISDICTION, GOVERNING LAWS, AND DISPUTE RESOLUTION</h1>
        <ul>
          <li>
            These Terms shall be governed by and construed and enforced in
            accordance with the laws of India. Subject to other provisions in
            this clause, courts in New Delhi shall have exclusive jurisdiction
            over all issues arising out of these Terms or the use of the
            Services.
          </li>
          <li>
            Any controversies, conflicts, disputes, or differences, arising out
            of these Terms shall be resolved by arbitration in New Delhi in
            accordance with the Arbitration and Conciliation Act, 1996 for the
            time being in force, which is deemed to be incorporated by reference
            in this clause. The tribunal shall consist of 1 (One) arbitrator
            appointed by Jaipur Service Company. The language of the arbitration
            shall be English. The parties to the arbitration shall keep the
            arbitration confidential, and not disclose to any person, other than
            on a need to know basis, or to legal advisors, unless required to do
            so by law. The decision of the arbitrator shall be final and binding
            on all the parties thereto. Each party to the arbitration shall bear
            its own costs with respect to any dispute.
          </li>
        </ul>
      </section>
    </div>
  </div>
</ion-content>
