<!-- Header -->
<app-header-with-back [title]="'Bookings'" [showNotificationIcon]="true"></app-header-with-back>

<!-- Buttons -->
<div class="main">
  <div class="container">
    <button
      [ngClass]="{'btn': true, 'clicked': visibilityMode=='upcoming'}"
      (click)="visibilityMode = 'upcoming'"
    >
      Upcoming
    </button>
    <button
      [ngClass]="{'btn': true, 'clicked': visibilityMode=='history'}"
      (click)="visibilityMode = 'history'"
    >
      History
    </button>
  </div>

  <div class="bookings">
    <ng-container  *ngFor="let details of bookingService.bookingsSubject | async">
      <div class="details-1" routerLink="../booking-details/{{details.id}}" *ngIf="visibilityMode == 'upcoming' ? isFutureDate(details.timeSlot?.date?.toDate()) : isPastDate(details.timeSlot?.date?.toDate())">
        <div class="head">
          <img style="padding-right: 5px;" [src]="details.services[0].image" alt="" />
          <h6>{{details.services[0].name}}</h6>
          <p>{{details.billing.grandTotal | currency:'INR'}}</p>
        </div>
        <div class="row">
          <p>{{details.id}}</p>
        </div>
        <div class="body">
          <div class="row-1">
            <h6>{{details.stage}}</h6>
            <h4 *ngIf="details.stage=='pending'">Pending</h4>
            <h5 *ngIf="details.stage =='confirmed'">Confirm</h5>
          </div>
          <div class="row-2">
            <img class="schedule-icon" src="assets/Icon- Outline.svg" />
            <h6>{{details.timeSlot?.date?.toDate() | date:'shortDate'}}</h6>
          </div>
          <div class="schedule">
            <p>{{details.timeSlot?.time?.startTime?.toDate() | date:'shortTime'}} - {{details.timeSlot?.time?.endTime?.toDate() | date:'shortTime'}}</p>
          </div>
        </div>
      </div>
    </ng-container>
  </div>

  <!-- Details of Upcoming booking -->
  <!-- <div *ngIf="showUpcomingSection" style="margin-top: 15px">
    <div class="details-1" *ngFor="let details of data">
      <div class="head">
        <img style="padding-right: 5px;" [src]="details.img" alt="" />
        <h6>{{details.title}}</h6>
        <p>{{details.amount}}</p>
      </div>
      <div class="row">
        <p>{{details.id}}</p>
      </div>
      <div class="body">
        <div class="row-1">
          <h6>{{details.status}}</h6>
          <h4 *ngIf="details.confirm=='Pending'">{{details.confirm}}</h4>
          <h5 *ngIf="details.confirm =='Confirmed'">{{details.confirm}}</h5>
        </div>
        <div class="row-2">
          <img class="schedule-icon" [src]="details.scheduleicon" />
          <h6>{{details.date}}</h6>
        </div>
        <div class="schedule">
          <p>{{details.schedule}}</p>
        </div>
        <div class="row-3">
          <img style="padding-right:5 px;" src="{{details.profile}}" alt="" />
          <div class="title" style="float: left;flex-grow: 1;">
            <h6>{{details.name}}</h6>
          </div>
          <h5 class="call-button" *ngIf="details.call" routerLink="/booking/booking-details">
            <img [src]="details.call" alt="" class="call-icon" />Call
          </h5>
        </div>
        <div class="subtitle">
          <p>{{details.role}}</p>
        </div>
      </div>
    </div>
  </div> -->

  <!-- Details of History -->
  <!-- <div *ngIf="showHistorySection" style="margin-top: 15px; cursor: pointer">
    <div class="details-1" *ngFor="let history of historyData">
      <div class="head">
        <img style="padding-right: 5px;" [src]="history.img" alt="" />
        <h6>{{history.title}}</h6>
        <p>{{history.amount}}</p>
      </div>
      <div class="row">
        <p>{{history.id}}</p>
      </div>
      <div class="body">
        <div class="row-1">
          <h6>{{history.status}}</h6>

          <h4
            *ngIf="history.confirm=='Cancelled'"
            style="color: #d3424a; background: #ffe1e3"
          >
            {{history.confirm}}
          </h4>

          <h5 *ngIf="history.confirm =='Completed'" style="margin-left: 230px">
            {{history.confirm}}
          </h5>
        </div>
        <div class="row-2">
          <h6>Technician</h6>

          <h5>{{history.name}}</h5>
        </div>
        <div class="row-2">
          <h6>Schedule</h6>

          <h5 style="margin-left: 62%">{{history.time}}</h5>
        </div>
      </div>
    </div>
  </div> -->
</div>

