<!-- Header -->
<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-icon name="arrow-back-outline" class="back-icon" routerLink="/home"></ion-icon><span
      class="booking-title">Booking
      Details</span>
    <img class="notification" src="../../../assets/fi-rr-bell.svg" alt="" />
    <img class="notification" src="../../assets/Ellipse 1.svg" alt="" />
  </ion-toolbar>
</ion-header>

<!-- Buttons -->
<div class="main">
  <div class="container">
    <button
      [ngClass]="{'btn': true, 'clicked': isUpcomingClicked}"
      (click)="toggleUpcoming()"
      routerLink="/booking-details"
    >
      Upcoming
    </button>
    <button
      [ngClass]="{'btn': true, 'clicked': isHistoryClicked}"
      (click)="toggleHistory()"
    >
      History
    </button>
  </div>

  <!-- Details of Upcoming booking -->
  <div *ngIf="showUpcomingSection" style="margin-top: 15px">
    <div class="details-1" *ngFor="let details of data">
      <div class="head">
        <img style="padding-right: 5px;" [src]="details.img" alt="" />
        <h6>{{details.title}}</h6>
        <p>{{details.amount}}</p>
      </div>
      <div class="row">
        <p>{{details.id}}</p>
      </div>
      <div class="body">
        <div class="row-1">
          <h6>{{details.status}}</h6>
          <!-- For Pending color -->
          <h4 *ngIf="details.confirm=='Pending'">{{details.confirm}}</h4>
          <!-- For confirm color -->
          <h5 *ngIf="details.confirm =='Confirmed'">{{details.confirm}}</h5>
        </div>
        <div class="row-2">
          <img class="schedule-icon" [src]="details.scheduleicon" />
          <h6>{{details.date}}</h6>
        </div>
        <div class="schedule">
          <p>{{details.schedule}}</p>
        </div>
        <div class="row-3">
          <img style="padding-right:5 px;" src="{{details.profile}}" alt="" />
          <div class="title" style="float: left;flex-grow: 1;">
            <h6>{{details.name}}</h6>
          </div>
          <h5 class="call-button" *ngIf="details.call" routerLink="/booking/booking-details">
            <img [src]="details.call" alt="" class="call-icon" />Call
          </h5>
        </div>
        <div class="subtitle">
          <p>{{details.role}}</p>
        </div>
      </div>
    </div>
  </div>

  <!-- Details of History -->
  <div *ngIf="showHistorySection" style="margin-top: 15px; cursor: pointer">
    <div class="details-1" *ngFor="let history of historyData">
      <div class="head">
        <img style="padding-right: 5px;" [src]="history.img" alt="" />
        <h6>{{history.title}}</h6>
        <p>{{history.amount}}</p>
      </div>
      <div class="row">
        <p>{{history.id}}</p>
      </div>
      <div class="body">
        <div class="row-1">
          <h6>{{history.status}}</h6>

          <h4
            *ngIf="history.confirm=='Cancelled'"
            style="color: #d3424a; background: #ffe1e3"
          >
            {{history.confirm}}
          </h4>

          <h5 *ngIf="history.confirm =='Completed'" style="margin-left: 230px">
            {{history.confirm}}
          </h5>
        </div>
        <div class="row-2">
          <h6>Technician</h6>

          <h5>{{history.name}}</h5>
        </div>
        <div class="row-2">
          <h6>Schedule</h6>

          <h5 style="margin-left: 62%">{{history.time}}</h5>
        </div>
      </div>
    </div>
  </div>
</div>

