<ion-content align="center" [fullscreen]="true">
  <div class="wrapper">
    <ion-img
      src="../../assets/fetchAddress/Update-pana 1.svg"
      alt="Update Required"
    ></ion-img>
    <ion-text>
      <p class="head">Update The App To Proceed</p>
      <p class="content">
        Installed version {{installedVersion}} | Latest version
        {{currentVersion}}
      </p>
    </ion-text>
    <button (click)="confirmUpdate()" class="button">
      <a
        href="https://play.google.com/store/apps/details?id=com.shreeva.jaipurservicecompanycustomer&pli=1"
      >
        <span>Download Update</span>
      </a>
    </button>
  </div>
</ion-content>
