.input-address{
    // height: 30%;
    padding: 16px;  
    .address-text{
        border: 2px solid #D7D7D7;
        border-radius: 8px;
        margin: 12px 0px;
        // line-height: 10px;
        max-height: 40px;
        .address-text::placeholder{
            color: #666666;
            // margin-left: 10px;
            font-family: 'Lato', sans-serif;
            font-size: 13px;
        }
    }
}
.address-box{
    // height: 40px;
}

.map-img{
    // margin: 20px 0px;
    margin-bottom: 20px;
}

.save-address-button {
    width: 90%;
    margin: 0 5%;
    background-color: #1A1D1F;
    color: #FFFFFF;
    border: none;
    padding: 16px 20px;
    border-radius: 10px;
    animation-name: slideInRight;
    animation-duration: 300ms;
    animation-timing-function: cubic-bezier(0.68, -0.55, 0.27, 1.55);
  }
  
  @keyframes slideInRight {
    from {
      transform: translateX(100%);
    }
    to {
      transform: translateX(0);
    }
  }