h2,
p {
  margin: 0px;
}

ion-content {
  --background: #f7f7f7;
  font-family: Lato;

  // display: grid;
  // align-content: space-between;
  // height: -webkit-fill-available;
  .row-1 {
    background-color: #fff;
    padding: 16px;
    display: flex;
    justify-content: space-between;
    margin-top: 4px;
    margin-top: 4px;
    border: 1px solid var(--line, #e9e9e9);

    h2 {
      color: var(--primary, #181f29);
      font-size: 14px;
      font-weight: 700;
    }

    p {
      margin-top: 4px;
      color: #444;
      font-size: 14px;
      font-weight: 400;
    }

    .right {
      display: flex;
      align-items: center;
      height: 20px;
      color: var(--tertiary, #5e0080);

      img {
        width: 28px;
      }
    }
  }

  .row-2 {
    background-color: #fff;
    margin-top: 4px;
    padding: 16px;
    display: grid;
    align-content: space-between;
    height: -webkit-fill-available;
    margin-top: 4px;
    border: 1px solid var(--line, #e9e9e9);

    h2 {
      color: var(--primary, #181f29);
      font-size: 16px;
      letter-spacing: -0.32px;
      font-weight: 600;
    }

    p {
      color: #444;
      font-size: 14px;
      letter-spacing: -0.28px;
      margin-top: 8px;
      font-weight: 400;
    }

    .first-btns {
      // display: flex;
      margin-top: 16px;
      margin-bottom: 18px;

      // justify-content: space-between;
      button {
        margin-top: 8px;
        margin-right: 8px;
        height: 52px;
        width: 49px;
        border-radius: 6px;
        border: 1px solid #d7d7d7;
        background: #fff;
      }

      button.active {
        background-color: #181f29;
        color: #fff;
      }
    }

    .box {
      display: flex;
      padding: 12px;
      border-radius: 8px;
      background-color: rgba(232, 233, 234, 0.7);
      margin-top: 20px;

      p {
        margin-left: 12px;
      }
    }

    .third-btns {
      display: flex;
      margin-top: 12px;

      button {
        margin-top: 8px;
        margin-right: 8px;
        height: 52px;
        width: 49px;
        border-radius: 6px;
        border: 1px solid #d7d7d7;
        background: #fff;
      }

      button.active {
        background-color: #181f29;
        color: #fff;
      }
    }

    .second-btns {
      display: grid;
      grid-template-columns: 47% 47%;
      justify-content: space-evenly;
      row-gap: 11px;
      margin-top: 24px;

      button {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1px 9px 5px 13px;
        border-radius: 6px;
        border: 1px solid #d7d7d7;
        background: #fff;

        .slot-det {
          color: white;
          padding-bottom: 4px;
        }
      }

      button.active {
        background-color: #181f29;
        color: white;

        .slot-det {
          p {
            color: white !important;
          }
        }
      }
    }
  }

  .button {
    --background: #1a1d1f;
    --background-activated: #8d8686;
    --border-radius: 10px;
  }
}

.bottom {
  ion-button {
    margin-top: 22px;
    --border-radius: 12px;
    margin-bottom: 28px;
    --padding-top: 16px;
    --padding-bottom: 16px;
  }
}


.footer1 {
  display: flex;
  justify-content: space-between;
  padding-bottom: 9px;

  ion-button {
    width: 48%;
    --border-style: solid;
    --padding-top: 18px;
    --padding-bottom: 18px;
    font-size: 13px;
    --border-width: 2px;
  }
  .btn1 {
    --background: #fff;
    --color: #181f29;
    --border-color: #181f29;
    font-weight: 600;
  }

  .btn2 {
    --background: #1A1D1F;
    --color: white;
    --border-color: #1A1D1F;
  }
}