    <!-- Meta Pixel Code -->
    <script>
      !function(f,b,e,v,n,t,s)
      {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
      n.callMethod.apply(n,arguments):n.queue.push(arguments)};
      if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
      n.queue=[];t=b.createElement(e);t.async=!0;
      t.src=v;s=b.getElementsByTagName(e)[0];
      s.parentNode.insertBefore(t,s)}(window, document,'script',
      'https://connect.facebook.net/en_US/fbevents.js');
      fbq('init', '1568394303656056');
      fbq('track', 'PageView');
      </script>
      <noscript><img height="1" width="1" style="display:none"
      src="https://www.facebook.com/tr?id=1568394303656056&ev=PageView&noscript=1"
      /></noscript>
      <!-- End Meta Pixel Code -->
<!-- <section class="stars">
  <img src="assets/icon/rating/star.svg" alt="" *ngFor="let n of [1,2,3,4,5]">
</section> -->

<ng-container *ngIf="!isSelected">
  <ul class="list-inline rating-list" *ngFor="let star of stars; let i= index">
    <li (click)="countStar(star)"
     [ngClass]="{'selected': (star <= selectedValue)}" 
     (mouseover)="addClass(star)"
     (mouseout)="removeClass()">
      <span class="material-icons"> <ion-icon name="star-outline"></ion-icon> </span>
      <!-- <img src="assets/icon/rating/star.svg" alt="" *ngFor="let n of [1,2,3,4,5]"> -->
    </li>
  </ul>
</ng-container>

<ng-container *ngIf="isSelected">
  <h1>Thankyou for giving</h1>
  <h1>{{selectedValue}} stars</h1>
</ng-container>

