<div class="main">
  <!-- Toolbar -->
  <ion-header [translucent]="true">
    <ion-toolbar>
      <ion-icon name="arrow-back-outline" class="back-icon" routerLink="/booking/upcoming-history"></ion-icon><span
        class="booking-title">Booking
        Details</span>
      <img class="notification" src="../../../assets/fi-rr-bell.svg" alt="" />
      <img class="notification" src="../../assets/Ellipse 1.svg" alt="" />
    </ion-toolbar>
  </ion-header>

  <!-- Order ID card -->
  <div class="container">
    <div class="row">
      <div class="order">
        <img src="../../../assets/Calender 2.svg" alt="">
        <h6>Order ID</h6>
        <h5 style="margin-left: 50%;">{{orderId}}</h5>
      </div>

      <div class="order">
        <img src="../../../assets/Calender 2.svg" alt="">
        <h6>Order Date</h6>
        <h5>{{orderDate}}</h5>
      </div>
    </div>
  </div>

  <!-- Profile Section -->
  <div class="Profile">
    <div class="icon-text">
      <!-- Profile icon image -->
      <img class="profile-icon" src="../../../assets/profile-sign.svg" alt="" />
      <p style="margin-top: 10px;">Professional Assigned</p>
    </div>

    <!-- Profile image & Name -->
    <div class="image">
      <div class="row-2">
        <img class="profile-pic" src="../../../assets/mukesh.svg" alt="" />
        <p>{{name}}</p>
        <!-- Call button -->
        <button>
          <img class="call" src="../../../assets/Call.svg" alt="" />
        </button>
      </div>
      <!-- Rating -->
      <div class="row-3">
        <img class="star" src="/assets/star.svg" alt="" />
        <span style="margin-left: 3px;">4.5 (87)</span>
      </div>

      <!-- OTP -->
      <div class="row-4">
        <h5>OTP to start the service</h5>
        <div>2</div>
        <div>2</div>
        <div>2</div>
        <div>2</div>
      </div>
    </div>
  </div>
  <!-- Offer water -->
  <div class="water">
    <img class="glass-image" src="../../../assets/glass1.svg" alt="" />
    <span>
      <p>Offer drinking water to the professional</p>
    </span>
  </div>

  <!-- Service Section -->
  <div class="Service-section">
    <!-- Card header -->
    <div class="row-5">
      <p class="head">Services</p>
      <div class="row-6">
        <p class="body">Complete</p>
      </div>
    </div>
    <!-- Price and Subject -->
    <div class="row-7" *ngFor="let service of services">
      <div class="left">
        <img class="image" [src]="service.img" alt="" />
        <span class="head">{{service.head}}</span><br />
        <span class="body">{{service.body}}</span>
        <span class="body1">{{service.body1}}</span>
      </div>
      <div class="row-8">
        <section class="right">{{service.amount}}</section>
      </div>
    </div>
    <!-- Total price and pay format  -->
    <div class="total">
      <div class="row-9">
        <h6>Total</h6>
        <span>
          <h5>{{price}}</h5>
        </span>
      </div>
      <div class="row-10">
        <h6>Delivery Mode</h6>
        <span>
          <h5>COD</h5>
        </span>
      </div>
    </div>
  </div>

  <!-- Date and Time -->
  <div class="third-section">
    <div class="row-1">
      <p class="head">Date & Time</p>
    </div>

    <div class="row-2" *ngFor="let date of dateNtime">
      <section>
        <img style="margin-top: 4px" [src]="date.img" alt="" />
      </section>

      <section style="margin-left: 10px">
        <span class="head">{{date.head}}</span><br />

        <span class="body">{{date.body}}</span>
      </section>
    </div>
  </div>

  <!-- Address -->
  <div class="address">
    <div class="row-1">
      <p class="head">Address</p>
    </div>

    <div class="row-2">
      <section style="margin-left: 10px">
        <p class="head">Arpita</p>
        <p class="body">9125332151</p>
        <p class="body">4517 Washington Ave. Manchester, Kentucky 39495</p>
      </section>
    </div>
  </div>

  <!-- Payment Details -->
  <div>
    <ion-card class="payment">
      <ion-card-header style="border-bottom: 1px double #d7d7d7">
        <div class="title">Payment Details</div>
        <span>
          <div class="head">Total Duration</div>
        </span>
        <span>
          <div class="body">{{duration}}</div>
        </span>
        <span>
          <div class="head">Total (MRP)</div>
        </span>
        <span>
          <div class="body">{{mrp}}</div>
        </span>
        <span>
          <div class="head">Discount</div>
        </span>
        <span>
          <div class="body" style="color: #579540">{{discount}}</div>
        </span>
        <span>
          <div class="head">Discounted Price</div>
        </span>
        <span>
          <div class="body">{{discountedPrice}}</div>
        </span>
        <!-- Total Price -->
        <div style="border-top: 2px dashed #d7d7d7">
          <span>
            <div class="total-price">Total</div>
          </span>
          <span>
            <div class="amount">{{discountedPrice}}</div>
          </span>
        </div>
        <!-- Banner -->
        <div class="offer-bar">
          <img class="tag-image" src="../../../assets/tag.svg" alt="" />
          <p class="tag-text">Yay! You have saved ₹550 on final bill</p>
        </div>
      </ion-card-header>
    </ion-card>
  </div>

  <!-- Rating -->
  <div class="review-section">
    <!-- Card header -->
    <div class="row-5">
      <p class="head">Rating Of This Service</p>
    </div>
    <!-- Price and Subject -->
    <div class="row-7" *ngFor="let ratings of rating">
      <div class="left">
        <img class="image" [src]="ratings.img" alt="" />
        <span class="head">{{ratings.head1}}</span><br />
        <span class="head">{{ratings.head2}}</span><br />
        <span class="body">{{ratings.body}}</span>

        <span class="body1">{{ratings.body1}}</span>
      </div>

      <div class="row-8">
        <section class="right">{{ratings.amount}}</section>
      </div>

      <!-- Rating by people -->
      <div class="rating" id="open-modal1">
        <p style="margin-right: 10px; ">{{ratings.rate}}</p>
        <span><img src="../../../assets/carbon_star-filled.svg" alt=""></span>
        <span><img src="../../../assets/carbon_star-filled.svg" alt=""></span>
        <span><img src="../../../assets/carbon_star-filled.svg" alt=""></span>
        <span><img src="../../../assets/star-outlined.svg" alt=""></span>
        <span><img src="../../../assets/star-outlined.svg" alt=""></span>
      </div>

    </div>
    <div class="container mt-4">

      <button type="button" class="btn btn-outline-dark">Reschedule</button>

      <span class="example-spacer"></span>

      <button type="button" class="btn btn-outline-danger" id="open-modal">Cancel Booking</button>


    </div>
    <div class="container">
      <ion-card>
        <ion-card-content>
          <ul>
            <li>No charge if you reschedule or cacnel until 3 hours before the service</li>
            <li>Within 3hrs, a cancellation fee of ₹100 is applicable</li>
          </ul>
        </ion-card-content>
      </ion-card>
    </div>

    <ion-modal mode="ios" trigger="open-modal" [initialBreakpoint]="0.50" [breakpoints]="[0, 0.25, 0.5, 0.75]"
      handleBehavior="cycle">
      <ng-template>
        <ion-content class="ion-padding">
          <form [formGroup]="CancelForm">
            <div class="ion-margin-top">
              <h2> <b> Cancellation Reason </b></h2>

              <div *ngFor="let item of RADIO_LIST; let i=index">
                <input type="radio" [value]="item.value" [checked]="item.checked" formControlName="CancelOptions" />
                <label>{{item.name}}</label>
              </div>
            </div>

            <div class="container-fluid">
              <div class="row text-center" style="background-color: #F2EBF5;">
                <p class="mt-3" style="color: #5E0080;">We won't be charging you a cancellation fee</p>
              </div>
            </div>
            <div class="bottom mt-4 " routerLink="/">
              <ion-button class="text-light bg-dark" [disabled]="CancelForm.invalid" expand="block" routerLink="/">
                Cancel Booking
              </ion-button>
            </div>
          </form>
        </ion-content>
      </ng-template>
    </ion-modal>

    <ion-modal mode="ios" trigger="open-modal1" [initialBreakpoint]="0.70" [breakpoints]="[0, 0.25, 0.5, 0.75]"
      handleBehavior="cycle">
      <ng-template>
        <ion-content class="ion-padding">
          <div class="container">
            <div class="row text-center">

              <h2> <b> Kitchen Cleaning </b></h2>
              <small style="color: #6F767E;">Complete Kitchen  Shape</small>
              <ion-img src="https://docs-demo.ionic.io/assets/madison.jpg"
                alt="The Wisconsin State Capitol building in Madison, WI at night"></ion-img>
              <small style="color: #579540;">Thank you for your rating!</small>
              <div class="col">
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star"></i>
                <i class="bi bi-star"></i>
              </div>
              <br>
              <form>
                <div class="form-group">

                  <input type="text" class="form-control" placeholder="Review Title">


                  <textarea class="form-control" placeholder="Service Review" rows="3"></textarea>
                </div>
                <div class="container mt-4">

                  <button type="button" class="btn btn-outline-dark">Skip</button>

                  <span class="example-spacer"></span>

                  <button type="button text-light" class="btn btn-dark" >Submit</button>


                </div>
              </form>
            </div>
          </div>

        </ion-content>
      </ng-template>
    </ion-modal>

   
    <!-- Footer -->
    <ion-footer>
      <ion-toolbar>
        <ion-title>
          <div class="footer">
            <div>
              <img src="../../../assets/home.svg" alt="">
              <p>Home</p>
            </div>
            <div>
              <img src="../../../assets/calendar-filled.svg" alt="">
              <p>Bookings</p>
            </div>
            <div>
              <img src="../../assets/shopping-cart.svg" alt="">
              <p>Cart</p>
            </div>
            <div>
              <img src="../../../assets/profile-sign.svg" alt="">
              <p>Profile</p>
            </div>
          </div>
        </ion-title>
      </ion-toolbar>
    </ion-footer>
    <!-- Main div -->
  </div>
</div>