<div class="container">
  <div class="row">
    <ion-toolbar>
      <ion-buttons slot="start" routerLink="../select-address">
        <ion-back-button default-href="#"></ion-back-button>
      </ion-buttons>
      <ion-title> Add New Address </ion-title>
      <ion-buttons slot="secondary">
        <ion-button>
          <ion-icon name="notifications-outline"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </div>
</div>

<ion-content [fullscreen]="true">
  <div class="container">
    <div class="row">
      <form class="col" [formGroup]="addressForm">
        <input
          class="form-control mt-4"
          type="text"
          formControlName="name"
          placeholder="Title"
          aria-label="default input example"
        />
        <input
          class="form-control mt-4"
          type="text"
          formControlName="addressLine1"
          placeholder="House/Flat/Block/Building"
          aria-label="default input example"
        />
        <input
          class="form-control mt-4"
          type="text"
          formControlName="addressLine2"
          placeholder="Street, Society or Landmark"
          aria-label="default input example"
        />
        <input
          class="form-control mt-4"
          type="number"
          formControlName="pinCode"
          placeholder="Pincode"
          aria-label="default input example"
        />
      </form>
    </div>
    <div class="row mt-4 text-center">
      <div class="col mt-4">
        <ion-button color="dark" (click)="submit()" shape="round">Save Address</ion-button>
      </div>
    </div>
    <div class="row mt-4">
      <div class="col">
        <img
          class="img mt-4"
          src="assets/Group1000003125.png"
          alt="Add New Address"
        />
      </div>
    </div>
  </div>
</ion-content>
