<!-- <ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <strong>Ready to create an app?</strong>
    <p>Start with Ionic <a target="_blank" rel="noopener noreferrer" href="https://ionicframework.com/docs/components">UI Components</a></p>
  </div>
</ion-content> -->


<div class="container">
  <div class="row">

    <ion-toolbar>
      <ion-buttons slot="start" size="large">
        <ion-back-button default-href="#" ></ion-back-button>
      </ion-buttons>
      <ion-title>
       <h1>Refer A Friend</h1> 
      </ion-title>
      <ion-buttons slot="secondary">
        <ion-button> <ion-icon name="notifications-outline" size="large"></ion-icon> </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </div>
</div>
<ion-content [fullscreen]="true">
  <div class="container" id="container">

    <ion-header collapse="condense">
      <ion-toolbar>
        <ion-title size="large"> Refer A Friend</ion-title>
      </ion-toolbar>
    </ion-header>
    <img src="assets\Group 1000003215.png" alt="Refer A Friend">
    <div class="row mt-4">
      <div class="col mt-4"><ion-button w-50 shape="round"  color="dark">Refer A Friend</ion-button></div>
    </div>
  </div>
  
</ion-content>
