    <!-- Meta Pixel Code -->
    <script>
      !function(f,b,e,v,n,t,s)
      {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
      n.callMethod.apply(n,arguments):n.queue.push(arguments)};
      if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
      n.queue=[];t=b.createElement(e);t.async=!0;
      t.src=v;s=b.getElementsByTagName(e)[0];
      s.parentNode.insertBefore(t,s)}(window, document,'script',
      'https://connect.facebook.net/en_US/fbevents.js');
      fbq('init', '1568394303656056');
      fbq('track', 'PageView');
      </script>
      <noscript><img height="1" width="1" style="display:none"
      src="https://www.facebook.com/tr?id=1568394303656056&ev=PageView&noscript=1"
      /></noscript>
      <!-- End Meta Pixel Code -->

<div class="login-container">
  <div class="main" style="height: 100%; background-color: white">
    <div class="img-div">
      <section class="header">
        <img src="assets/images/logo.png" alt="" />
        <p>Jaipur Service Company</p>
      </section>

      <section class="body">
        <img src="assets/images/login.png" alt="" />
      </section>
    </div>

    <section
      class="login login-heading"
      *ngIf="!this.dataProvider.checkingAuth && !this.dataProvider.loggedIn"
    >
      <h3>Welcome Back</h3>
      <h6>Please fill the details for further process</h6>
      <div class="image">
        <ion-icon name="call"></ion-icon>
        <input
          class="input-number"
          type="text"
          placeholder="Mobile Number"
          inputmode="tel"
          [(ngModel)]="phoneNumber"
          required
          maxlength="10"
        />
      </div>
      <div id="recaptcha-container"></div>
      <div class="agree-container">
        <input
          type="checkbox"
          id="terms-agree"
          [(ngModel)]="terms"
          style="zoom: 2"
        />&nbsp;&nbsp;&nbsp;&nbsp;
        <label class="input-label" for="terms-agree"></label>
        <p style="text-align: left">
          I agree to the
          <button (click)="openTnC()">Terms & Conditions,</button>
          &nbsp;
          <button (click)="openPrivacy()">Privacy,</button>
          &nbsp;
          <button (click)="openRefund()">Refund & Pricingy</button>
          Policy
        </p>
      </div>

      <ion-button
        [disabled]="(phoneNumber.length < 10) || terms === false ? true : false"
        class="signup"
        color="dark"
        data-sitekey="6LfX6R0qAAAAAIcWWO84K20lue3arAI5wkWTBNf5"
        (click)="login()"
        >Login/SignUp</ion-button
      >
    </section>

    <section class="login" *ngIf="this.dataProvider.checkingAuth">
      <h3>Checking Status</h3>
      <h6>Please wait till we verify you.</h6>
    </section>

    <!-- <div
      style="position: fixed; bottom: 0; width: 100%"
      class="footer-container"
    >
      <footer>
        <img src="assets/images/footer-1.png" style="height: 100px" />
        <img
          class="toolbox"
          src="assets/images/footer-2.png"
          style="height: 80px; margin-top: auto"
        />
      </footer>
    </div> -->
  </div>
</div>
<!-- <footer>
  <img src="assets/images/footer-1.png" style="height: 100px;">
  <img src="assets/images/footer-2.png" style="height: 80px; margin-top:auto">
</footer> -->
