<ion-header [translucent]="true">
  <ion-toolbar class="toolbar">
    <ion-title>Cart</ion-title>
    <ion-buttons slot="end">
      <ion-button routerLink="/notification">
        <img src="../../../assets/images/bell.svg" alt="" />
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="!selectedBooking && cartService.cart.length > 0">
  <h3 class="header">You have {{cartService.cart.length}} bookings.</h3>
  <div class="orderCard" *ngFor="let booking of cartService.cart">
    <div class="detail">
      <img [src]="booking.subCategory.image" alt="">
      <div class="categories">
        <p class="main">{{booking.mainCategory.name}}</p>
        <p class="sub">{{booking.subCategory.name}}</p>
      </div>
    </div>
    <ol class="items">
      <li *ngFor="let item of booking.services">
        {{item.name}}
        <ol>
          <li *ngFor="let variant of item.variants">{{variant.name}} - {{variant.price | currency:'INR'}}</li>
        </ol>
      </li>
    </ol>
    <ion-button color="dark" (click)="selectedBooking = booking" shape="round">Continue</ion-button>
  </div>
</ion-content>

<ion-content class="page-body" *ngIf="selectedBooking">
  <div>
    <!-- <div *ngFor="let num of numbersArray"> -->
    <ng-container *ngFor="let service of selectedBooking.services;let i = index;">
      <hr class="divider" />
      <p class="serviceTitle">{{service.name}}</p>
      <div class="order-card" *ngFor="let variant of service.variants">
        <!-- <div class="content"> -->
        <div class="maskimage">
          <img src="{{service.image[0]}}" alt="" />
          <!-- <span class="discount"><p>10% OFF</p></span> -->
        </div>
        <div class="card-right">
          <div class="card-right-top">
            <p class="card-title">{{service.name}}</p>
            <div class="card-image">
              <img
                (click)="selectedBooking.services.splice(i,1)"
                class="delete-button"
                src="../../../assets/images/Delete 2.svg"
                alt=""
              />
            </div>
          </div>
          <div class="card-right-mid">
            <p class="card-subtitle">
              • {{variant.jobDuration}} Min
            </p>
            <span class="spacer"></span>
            <div class="rating">
              <img
                class="rating-btn"
                src="../../../assets/images/rating-star.png"
                alt="rating"
              />
              <p class="rating-text">
                {{5}}
                <span class="rating-user"
                  >({{14}})</span
                >
              </p>
            </div>
          </div>
          <div class="card-right-bottom">
            <p class="price">
              <span class="discounted-price">
                {{variant.billing.discountedPrice | currency:'INR'}}
              </span>
              <span class="original-price">
                <s>
                  {{(variant.billing.totalPrice) | currency:'INR'}}
                </s>
              </span>
            </p>
            <div class="stock">
              <ion-button fill="clear" [disabled]="variant.quantity <=1" (click)="this.cartService.decrementQuantity(dataProvider.currentUser?.user!.uid!,service,variant.variantId,selectedBooking.id!); variant.quantity = variant.quantity - 1">
                <ion-icon slot="icon-only" name="remove"></ion-icon>
              </ion-button>
              <p class="item-count">{{variant.quantity}}</p>
              <ion-button fill="solid" (click)="this.cartService.incrementQuantity(dataProvider.currentUser?.user!.uid!,service,variant.variantId,selectedBooking.id!); variant.quantity = variant.quantity + 1">
                <ion-icon slot="icon-only" color="light" name="add"></ion-icon>
              </ion-button>
            </div>
          </div>
        </div>

        <!-- coupon and offers section     -->
      </div>
      <hr class="divider" />
      <!-- </div> -->
    </ng-container>
  </div>
  <!-- when coupon is not applied -->
  <ng-container *ngIf="appliedCoupons.length===0">
    <div (click)="onOffersClick()" class="apply-coupon">
      <div class="coupon-items">
        <img src="../../../assets/images/Ticket Discount.png" alt="" />
        <span class="spacer"></span>
        <span class="apply-coupon-text">Apply Coupons</span>
      </div>
      <div class="coupon-items">
        <span class="offer-count-text">2 offers</span>
        <span class="spacer"></span>
        <img
          src="../../../assets/images/material-symbols_arrow-back-ios-rounded.png"
          alt=""
        />
      </div>
    </div>
  </ng-container>
  <!-- When coupon is applied -->
  <ng-container *ngIf="appliedCoupons.length!==0">
    <div class="applied-coupon">
      <div class="text">
        <p class="saved-rs">Saved ₹260</p>
        <p class="coupon-applied-successfuly">Coupon applied successfully!</p>
      </div>
      <div class="line-style">
        <!-- <div class="circle-top style-circle"></div> -->
        <hr class="verti-line" />
        <!-- <div class="circle-bottom style-circle"></div> -->
      </div>
      <div class="applied-content">
        <img src="../../../assets/images/tick-circle.png" alt="" />
        <p class="applied-text">Applied!</p>
      </div>
      <div class="remove-coupon">
        <ion-icon (click)="emptyAppliedCouponsArray()" name="close"></ion-icon>
      </div>
    </div>
    <!-- <ion-button (click)="setOpen(true)">Open</ion-button> -->
    <!-- <ion-action-sheet
  [isOpen]=true
  header="Actions"
  [buttons]="actionSheetButtons"
  (didDismiss)="setOpen(false)"
></ion-action-sheet> -->
    <ion-modal [initialBreakpoint]="0.30" [isOpen]="isModalOpen">
      <ng-template>
        <div class="action-sheet-header">
          <p class="action-sheet-header-text">
            Yay! You will receive up to ₹550 cashback on this order
          </p>
          <img
            class="action-sheet-header-img"
            src="../../../assets/images/discount-shape (1).png"
            alt=""
          />
        </div>
        <ion-content>
          <p class="modal-bottom-text">‘JCPaytm’ - applied succesfully</p>
          <button (click)="setOpen(false)" class="got-it-button">
            Okay, Got It
          </button>
        </ion-content>
      </ng-template>
    </ion-modal>
  </ng-container>

  <!-- payment detail section -->
  <div class="payment-details">
    <h6 class="payment-detials-text">Payment Details</h6>
    <div class="breakup">
      <div class="breakup-item">
        <p class="left-title">Total Duration</p>
        <p class="right-sub">
          {{totalTimeNeeded.minutes}} Mins
        </p>
      </div>
      <div class="breakup-item">
        <p class="left-title">Total (MRP)</p>
        <p class="right-sub">{{selectedBooking.billing.subTotal | currency:'INR'}}</p>
      </div>
      <div class="breakup-item">
        <p class="left-title">Discount</p>
        <p class="right-sub discount-off">-{{selectedBooking.billing.discount | currency:'INR'}}</p>
      </div>
      <div class="breakup-item">
        <p class="left-title">Discounted Price</p>
        <p class="right-sub">{{selectedBooking.billing.subTotal-selectedBooking.billing.discount | currency:'INR'}}</p>
      </div>
    </div>
    <hr class="dotted-line" />
    <div class="breakup-item">
      <p class="total-text">Total</p>
      <p class="total-text">{{selectedBooking.billing.grandTotal | currency:'INR'}}</p>
    </div>
  </div>

  <div class="offer-bar" *ngIf="selectedBooking.billing.discount">
    <img class="tag-image" src="../../../assets/images/tag.png" alt="" />
    <p class="tag-text">Yay! You have saved {{selectedBooking.billing.discount}} on final bill</p>
  </div>

  <!-- <span  style="height: 32px; color: aqua;" ></span> -->
  <button class="select-address-button" (click)="this.dataProvider.currentBooking = selectedBooking" routerLink="../../../select-address">
    Select Address
  </button>
</ion-content>
<ion-content class="noItems" *ngIf="!selectedBooking && cartService.cart.length == 0">
  <img class="empty-cart-img" src="../../../assets/images/amico.png" alt="" />
  <span class="text-content">
    <p class="cart-empty-text">Your cart is empty</p>
    <p class="bottom-text">
      Looks like you have not added any services to your cart yet.
    </p>
  </span>
</ion-content>

<script src="https://unpkg.com/ionicons@4.5.10-0/dist/ionicons.js"></script>
