ion-toolbar.toolbar,ion-item{
    --background:white;
    --box-shadow: none;
    border: none;
}
h2,p,h1,h3,h4,h5, h6{
    color: black;
    font-family: 'Lato', sans-serif;
    font-weight: 600;
    padding: 0;
    margin: 0;
}
ion-back-button,ion-icon,ion-title{
    color: black;
}
ion-content{
        --ion-background-color: #ffffff;       
}

.add-address{
    padding: 16px;
    display: flex;
    justify-content: space-between;
    // justify-content: center;
    align-content: center;
    .left-content{
        padding: 5px 0px;
        font-size: 20px;
        font-weight: 600;
        font-family: 'Lato', sans-serif;
    }
    .right-content{
        width: 90px;
        display: flex;
        justify-content: space-around;
        // align-content: center;
        align-items: center;
        // justify-content: center;
        // flex-grow: 1;
        p{
            font-size: 12px;
            margin-right: -10px;
            color: #5E0080;
            // align-items: center;
        }
    }
}
.address-card{
    margin: 16px;
    padding: 15px;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
    border: 1px solid #E9E9E9;
    border-radius: 12px;

    .first-box{
        // padding: 10px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        span{
            margin-right: 10px;
        }
        line-height: 20px;
        
        .name{
            font-size: 14px;
            font-weight: 700;
            font-family: 'Manrope', sans-serif;
        }
        .address{
            font-size: 12px;
            font-family: 'Nunito Sans', sans-serif;
            color: #444444;
            line-height: 15px;
        }
        .number{
            font-size: 12px;
            font-family: 'Nunito Sans', sans-serif;
            color: #444444;
        }

    }
    .second-box{
        width: 100px;
        display: flex;
        justify-content: space-evenly;  
        align-items: start;
        // background-color: teal;
    }      
}

.spacer {
    height: 300px;
}
ion-radio{
    margin: 10px;
}
.select-slot-button {
    width: 90%;
    margin: 0 5%;
    background-color: #1A1D1F;
    color: #FFFFFF;
    border: none;
    padding: 16px 20px;
    border-radius: 10px;
    animation-name: slideInRight;
    animation-duration: 300ms;
    animation-timing-function: cubic-bezier(0.68, -0.55, 0.27, 1.55);
  }
  
  @keyframes slideInRight {
    from {
      transform: translateX(100%);
    }
    to {
      transform: translateX(0);
    }
  }

 .custom-action-sheet{
    --background: #000000;
 }
 .custom-action-sheet {
    --background: #f5f5f5; /* Change the background color */
    --color: #333333; /* Change the font color */
  }
  
  .custom-action-sheet-header {
    font-weight: bold;
  }
  
  .custom-action-sheet-subheader {
    font-style: italic;
  }
  
  .custom-action-sheet-button {
    color: #ffffff; /* Change the button font color */
    background-color: #007bff; /* Change the button background color */
  }