<app-header title="Search"></app-header>
<ion-content class="ion-padding" [fullscreen]="true">
  <button id="search" routerLink="../search">
    <!-- <p>Search what you need</p> -->
    <input type="search" #searchInput (input)="searchInputSubject.next(searchInput.value)"
      placeholder="Search what you need" name="" id="">
    <span>
      <!-- <ion-icon name="search-outline"></ion-icon> -->
      <img src="assets/ui_icons/search.svg" alt="">
    </span>
  </button>
  <div id="previousSearches">
    <div class="header">
      <p>
        Recent searches
      </p>
      <p (click)="clearHistory()"><strong>Clear All</strong></p>
    </div>
    
    <div class="items" [ngClass]="{overflow:resultsFetched}">
      <div class="item" (click)="searchInputSubject.next(searchTerm);searchInput.value = searchTerm" *ngFor="let searchTerm of historyTerms;let i = index">
        <p>{{searchTerm}}</p>
        <ion-icon (click)="removeItemFromHistory(i)" name="close-circle-outline"></ion-icon>
      </div>
    </div>
  </div>
  <ion-list>
    <ion-item *ngFor="let result of results" style="margin-bottom: 5px;">
      <img class="search-image" [src]="result.image || 'https://placehold.co/70x70'" alt="">
      <ion-label class="searchresult-name">{{result.name}}</ion-label>
      <ion-chip color="primary" mode="ios" style="margin-top: -50px !important;" >
        <ion-label class="searchresult-price">{{result.price}}</ion-label>
      </ion-chip>
    </ion-item>
    <!-- <div class="result" *ngFor="let result of results">
      <img src="" alt="">
      <div class="priceName">
        <span>{{result.name}}</span>
        <strong class="price">{{result.price}}</strong>
      </div>
      <div class="ratingVariants">
        <span><ion-icon name="star"></ion-icon>4.8 (12)</span>
        <span>{{result.variants.length}} Variants</span>
      </div>
      <div class="ratingVariants">
        <span><ion-icon name="star"></ion-icon>4.8 (12)</span>
        <span>{{result.description}}</span>
      </div>
    </div> -->
    <div class="notFound" *ngIf="results.length == 0 && resultsFetched">
      <img src="assets/images/notFound.svg" alt="">
      <h3>Not Found</h3>
      <p>Sorry, the keyword you entered cannot be found, please check again or search with another keyword.</p>
    </div>
  </ion-list>
</ion-content>