<div class="main">
  <app-header title="User Profile"></app-header>
  <div class="container">
    <!-- Profile picture with camera button -->
    <h3>Welcome, New User</h3>
    <p>Let’s know you better !</p>
    <div class="profile-pic">
      <img src="../../../assets/profile-3.svg" alt="" class="img" />
      <img src="../../../assets/Ellipse 152.svg" alt="" class="circle" />
      <img src="../../../assets/fi-rr-camera.svg" alt="" class="camera-icon" [routerLink]="['/upload-images']"/>
    </div>
    <div class="title">
      <h6>{{name2}}</h6>
    </div>
    <!-- Input boxes -->
    <form class="col" [formGroup]="userProfileForm">
      <div class="input">
        <ion-input class="inputs" formControlName="name"  label="Full Name"  label-placement="floating"  fill="outline"  placeholder="Sudipta Mehta" required></ion-input>
        <div *ngIf="(this.userProfileForm.get('name')?.touched && this.userProfileForm.get('name')?.invalid) || isSubmitForm">
          <div class="" *ngIf="this.userProfileForm.get('name')?.errors?.required" >
            <ion-text color="danger">Name is required.</ion-text>
          </div>
          <div class="" color="danger" *ngIf="this.userProfileForm.get('name')?.errors?.minlength" >
            <ion-text color="danger">Name should be min 3 chars long.</ion-text>
          </div>
        </div>
        <ion-input  class="inputs" formControlName="dateofbirth"  
               label="Birthdate (dd/mm/yyyy)" label-placement="floating"fill="outline" placeholder="date of birth" style="margin-top: 18px;" required></ion-input>
        <div *ngIf="(this.userProfileForm.get('dateofbirth')?.touched && this.userProfileForm.get('dateofbirth')?.invalid) || isSubmitForm" style="margin-top: -8px;padding-bottom: 9px;">
          <div class="" *ngIf="this.userProfileForm.get('dateofbirth')?.errors?.required" >
            <ion-text color="danger">DBO is required.</ion-text>
          </div>
        </div>
        <ion-item lines="outline"  fill="outline" class="gender-input">
          <ion-label position="floating">Gender</ion-label>
          <ion-input type="text" readonly [value]="selectedGender" class="gender-input-box" placeholder="Gender" required></ion-input>
          <ion-icon
            name="chevron-down-outline"
            slot="end"
            (click)="openGenderPicker()"
          ></ion-icon>
        </ion-item>
        <div *ngIf="!isGenderSelected && isSubmitForm" style="padding: 8px 0px;">
          <div class=""  >
            <ion-text color="danger">Gender is required.</ion-text>
          </div>
        </div>
      </div>
  </form>
    <!-- Cancel and Save buttons -->
    <div class="buttons">
      <button class="save"  (click)="nextFunction()">Next</button>
    </div>
    
  </div>
  <!-- main div -->
</div>
