<ion-content [fullscreen]="true">
  <ion-card>
    <!-- Signout button -->
    <ion-button fill="clear" id="open-modal" expand="block"
      ><span
        ><img
          src="../../assets/Icons.svg"
          alt=""
          style="margin-top: 5px; margin-right: 7px"
      /></span>
      Sign out</ion-button
    >
    <!-- Signout modal -->
    <ion-modal
      trigger="open-modal"
      [initialBreakpoint]="1"
      [breakpoints]="[0, 1]"
    >
      <ng-template>
        <ion-card-title class="logout-title">Logout</ion-card-title>
        <ion-item-divider></ion-item-divider>
        <ion-card-subtitle class="subtitle"
          >Are you sure want to Logout ?</ion-card-subtitle
        >
        <div style="display: flex;margin: auto;padding: 20px;">
          <ion-button  class="cancel-btn" fill="clear" (click)="closeModal()"
            >Cancel</ion-button
          >
          <ion-button class="logout-btn" (click)="logout()" fill="clear"
            >Yes , Logout
          </ion-button>
        </div>
      </ng-template>
    </ion-modal>

    <!-- Close Icon -->
    <ion-button fill="clear" class="close-btn" (click)="close()">
      <ion-icon slot="icon-only" name="close-outline"></ion-icon>
    </ion-button>
    <!-- Profile -->
    <img src="https://api.dicebear.com/6.x/initials/svg?seed={{this.dataProvider.currentUser?.user?.phoneNumber}}" class="profile-pic" />
    <h4 style="text-align: center; color: #fff">{{this.dataProvider.currentUser?.user?.phoneNumber}}</h4>
  </ion-card>

  <div class="nav">
    <!-- Navigating buttons -->
    <ion-button
      expand="block"
      fill="clear"
      type="outline"
      class="side-buttons"
      routerLink="profile-info"
      ><img style="padding: auto;" class="icons" src="../../assets/User_2.svg" alt="" />
      <p >Edit Profile</p></ion-button
    >
    <ion-button expand="block" fill="clear" class="side-buttons" routerLink="../booking/upcoming-history"
      ><img style="padding: auto;" class="icons" src="../../assets/Door to Door Delivery.svg" alt="" />
      <p >My Bookings</p></ion-button
    >
    <ion-button expand="block" fill="clear" class="side-buttons" routerLink="../select-address"
      ><img style="padding: auto;" class="icons" src="../../assets/location.svg" alt="" />
      <p >Address Book</p></ion-button
    >
    <ion-button expand="block" fill="clear" class="side-buttons" routerLink="../no-notification"
      ><img style="padding: auto;" class="icons" src="../../assets/Group 1000002396.svg" alt="" />
      <p >Notifications</p></ion-button
    >
    <ion-button expand="block" fill="clear" class="side-buttons"
      ><img style="padding:auto;" class="icons" src="../../assets/info-circle.svg" alt="" />
      <p  >About</p></ion-button
    >
    <ion-button expand="block" fill="clear" class="side-buttons" routerLink="../refer-afriend"
      ><img style="padding:auto;" class="icons" src="../../assets/profile-2user.svg" alt="" />
      <p >Invite Friend</p></ion-button
    >
    <ion-button expand="block" fill="clear" class="side-buttons"
      ><img style="padding:auto;" class="icons" src="../../assets/Call(1).svg" alt="" />
      <p >Contact Us</p></ion-button
    >
  </div>

  <!-- <ion-header> </ion-header> --></ion-content
>

