<ion-header [translucent]="true">
  <ion-toolbar class="toolbar">
    <ion-buttons *ngIf="showBackButton" slot="start">
      <ion-button (click)="orderPlaced ? goToHome() : onBackButtonClick()">
        <img src="assets/icon/leftArrow/leftArrow.svg" alt="" />
      </ion-button>
    </ion-buttons>
    <ion-title class="title" [ngClass]="{ noBackButton: !showBackButton }">{{
      title
    }}</ion-title>
    <ion-buttons slot="end" *ngIf="this.dataProvider.currentUser && showNotificationIcon">
      <ion-button (click)="notification()">
        <img
          *ngIf="unreadNotifications.length === 0"
          src="assets/images/bell.svg"
          alt=""
        />
        <img
          *ngIf="unreadNotifications.length > 0"
          src="assets/ui_icons/notification.svg"
          alt=""
        />
      </ion-button>
    </ion-buttons>

    <ion-buttons slot="secondary">
      <ion-button
        *ngIf="this.dataProvider.currentUser && showHomeIcon"
        (click)="goToHome()"
      >
        <img
          class="jsc-logo"
          src="../../../assets/images/logo.png"
          alt="Home"
        />
      </ion-button>
      <ion-button
        class="login-btn"
        *ngIf="!this.dataProvider.currentUser"
        (click)="login()"
      >
        Login
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
