<ng-container *ngIf="mobileView">
  <app-header-with-back [showBackButton]="addressService.addresses.length > 0" [title]="'Select Address'"
    [showNotificationIcon]="false"></app-header-with-back>
  <div class="container">
    <div class="row">
      <ion-toolbar slot="end">
        <div class="new-add-button">
          <button (click)="newAddress()">
            <span>Add new</span>
            <img src="../../../assets/add-button.svg" alt="" />
          </button>
        </div>
      </ion-toolbar>
    </div>
  </div>
  <ion-content [fullscreen]="true">

    <div class="main-container">
      <div class="address-det-div">
        <div class="address-box">
          <div class="add-cont">
            <div class="input-div">
              <input type="radio" name="defaultChange" [checked]="address.isDefault"
                (change)="changeAddress(address)" />
            </div>
            <div class="address-details">
              <h2>{{address.name}}</h2>
              <p>{{dataProvider.currentUser?.userData.phoneNumber}}</p>
              <p>
                {{address.addressLine1}},
                {{address.pincode}}
              </p>
            </div>
            <div class="edit-delete-address">
              <img src="../../../assets/edit-button.svg" alt="" (click)="editAddress(address)" />
              <img src="../../../assets/delete-button.svg" alt="" (click)="deleteAddress(address)" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </ion-content>
</ng-container>

<app-header-with-back id="web-view" [showHomeIcon]="true" [showBackButton]="addressService.addresses.length > 0"
  [title]="'Select Address'" [showNotificationIcon]="false"></app-header-with-back>

<div class="back-container" id="web-view">
  <div class="main-container">
    <div class="add-btn">
      <div class="new-add-button">
        <button (click)="newAddress()">
          <span>Add new</span>
          <img src="../../../assets/add-button.svg" alt="" />
        </button>
      </div>
    </div>
    <div class="address-det-div">
      <div class="address-box" style="padding: 20px">
        <div class="add-cont">
          <div class="input-div">
            <input type="radio" name="defaultChange" [checked]="address.isDefault" (change)="changeAddress(address)" />
          </div>
          <div class="address-details">
            <h2>{{address.name}}</h2>
            <p>{{dataProvider.currentUser?.userData.phoneNumber}}</p>
            <p>
              {{address.addressLine1}}, {{address.city}}, {{address.state}},
              {{address.pincode}}
            </p>
          </div>
          <div class="edit-delete-address" style="padding-left: 3rem">
            <img src="../../../assets/edit-button.svg" alt="" (click)="editAddress(address)" />
            <img src="../../../assets/delete-button.svg" alt="" (click)="deleteAddress(address)" />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>