<app-header-with-back [title]="'Contact Us'" [showNotificationIcon]="false"></app-header-with-back>
<!-- <app-header-with-back [title] = "'Contact Us"></app-header-with-back> -->

<ion-content>
    <main class="p-15 edit-contact">
        <section class="contact border p-15 mb-4">
            <div class="heading-section d-flex">
                <div class="img">
                    <img src="../../../assets/phone.svg" alt="" />
                </div>
                <p class="name">Contact Number</p>
            </div>
            <div class="no d-flex justify-content-between">
                <a href="tel:+919928122238">
                    <p>+91 9928122238</p>
                    
                </a>
                <a href="tel:+919928122238">
                    <p>+91 9928122238</p>
                </a>
            </div>
        </section>
        <section class="contact border p-15 mb-4">
            <div class="heading-section d-flex">
                <div class="img1">
                    <img src="../../../assets/whatsapp.svg" alt="" />
                </div>
                <p style="color: #14AE5C;" class="name">WhatsApp Number</p>
            </div>
            <div class="no d-flex justify-content-between">
                <a style="border: 1px solid #14AE5C;" target="_blank" href="https://wa.me/+9197822688826">
                    <p style="color: #14AE5C;">+91 97822688826</p>
                </a>
                <a style="border: 1px solid #14AE5C;" target="_blank" href="https://wa.me/+9197822688826">
                    <p style="color: #14AE5C;">+91 97822688826</p>
                </a>
            </div>
        </section>
        <section class="contact border p-15 mb-4">
            <div class="heading-section d-flex">
                <div class="img1" >
                    <img src="../../../assets/email.svg" alt="" />
                </div>
                <p class="name">Email Id</p>
            </div>
            <div class="no d-flex justify-content-between">
                <a target="_blank" href="mailto:jaipurservicecompany@gmail.com">
                    <p>jaipurservicecompany@gmail.com</p>
                </a>
                <a target="_blank" href="mailto:jahoormansuri5978@gmail.com">
                    <p>jahoormansuri5978@gmail.com</p>
                </a>
            </div>
        </section>

        <div class="social-media">
            <a target="_blank" href="https://www.facebook.com/profile.php?id=100089889237508">
                <img src="../../../assets/icon/contactUs/fb.svg" alt="">
            </a>
            <a target="_blank" href="https://www.instagram.com/jaipurservicecompany?igsh=MzRlODBiNWFlZA==">
                <img src="../../../assets/icon/contactUs/insta.svg" alt="">
            </a>
            <a target="_blank" href="https://wa.me/919782688826">
                <img src="../../../assets/icon/contactUs/whatsapp.svg" alt="">
            </a>
            <a class="youtube" target="_blank" href="https://www.youtube.com/@jaipurservicecompany">
                <img src="../../../assets/icon/contactUs/youtubeCircle.svg" alt="">
                <img class="yt-img" src="../../../assets/icon/contactUs/youtube.svg" alt="">
            </a>
        </div>

        <div class="footer">
            <img src="../../../assets/icon/contactUs/contactusFooter.png" alt="">
        </div>
    </main>
</ion-content>