<app-header-with-back [title]="'Contact us'" [showNotificationIcon]="false"></app-header-with-back>
<!-- <app-header-with-back [title] = "'Contact Us"></app-header-with-back> -->

<ion-content>
    <main class="p-15 edit-contact">
        <section class="contact border p-15 mb-4">
            <div class="heading-section d-flex">
                <div class="img">
                    <img src="../../../assets/phone.svg" alt="" />
                </div>
                <p class="name">Contact Number</p>
            </div>
            <div class="no d-flex justify-content-between">
                <a href="tel:+919928122238">
                    <p>+91 9928122238</p>
                    
                </a>
                <a href="tel:+919928122238">
                    <p>+91 9928122238</p>
                </a>
            </div>
        </section>
        <section class="contact border p-15 mb-4">
            <div class="heading-section d-flex">
                <div class="img1">
                    <img src="../../../assets/whatsapp.svg" alt="" />
                </div>
                <p class="name">WhatsApp Number</p>
            </div>
            <div class="no d-flex justify-content-between">
                <a style="border: 1px solid #579540;" target="_blank" href="https://wa.me/+9197822688826">
                    <p style="color: #579540;">+91 97822688826</p>
                </a>
                <a style="border: 1px solid #579540;" target="_blank" href="https://wa.me/+9197822688826">
                    <p style="color: #579540;">+91 97822688826</p>
                </a>
            </div>
        </section>
        <section class="contact border p-15 mb-4">
            <div class="heading-section d-flex">
                <div class="img1" >
                    <img src="../../../assets/email.svg" alt="" />
                </div>
                <p class="name">Email Id</p>
            </div>
            <div class="no d-flex justify-content-between">
                <a target="_blank" href="mailto:jaipurservicecompany@gmail.com">
                    <p>jaipurservicecompany@gmail.com</p>
                </a>
                <a target="_blank" href="mailto:jahoormansuri5978@gmail.com">
                    <p>jahoormansuri5978@gmail.com</p>
                </a>
            </div>
        </section>
    </main>
</ion-content>