

//for desktop
.modal-background {
    // position: fixed;
    // top: 0;
    // left: 0;
    // width: 100%;
    // height: 100%;
    // background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .modal {
    // background: white;
    width: 90vw;
    max-width: 400px;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    box-sizing: border-box;
    text-align: center;
  }
  
  .close {
    cursor: pointer;
    font-size: 2rem;
    position: absolute;
    top: 10px;
    right: 10px;
  }
  
  .img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 20px;
  }
  
  .img img {
    max-width: 100%;
    height: auto;
    object-fit: contain;
    border-radius: 5px;
  }
  
  p {
    font-family: Arial, sans-serif;
    font-size: 1.2rem;
    margin-bottom: 20px;
  }
  
  .button-group {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  
  button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
  }
  
  .secondary{
    background-color: #f0f0f0;
    color: black;
    margin-right: 10px;
    flex: 1;
  }
  
  .primary {
    background-color: #003f7d;
    color: white;
    flex: 1;
  }
  