<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title style="display: flex;">
      <ion-icon name="arrow-back-outline" style="margin-right: 10px; padding-top: 5px;" routerLink="/unauthorized/login"></ion-icon>
      Login/SignUp<img src="assets/images/notification.png" alt=""></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h1>Enter verification code</h1>
  <p>We have sent you a 6 digit verification code on</p>
  <div>+91 {{dataProvider.userMobile}}</div>

  <div class="otp-inputs">
    <ng-otp-input #ngOtpInput (onInputChange)="onOtpChange($event)" *ngIf="showOtpComponent" [config]="config"></ng-otp-input>
  </div>


  <div class="resend">
    <div id="recaptcha-container2"></div>
    <p>Don't receive code?</p> &nbsp;
    <p style="color: #5E0080; cursor: pointer;" (click)="sendOTP()" >Resend OTP</p>
  </div>
  <ion-button class="signup" color="dark" (click)="login()">Login</ion-button>
</ion-content>
