<ion-content class="otp-container">
  <div class="main-container">
    <app-header-with-back
      [title]="'Login/SignUp'"
      [showNotificationIcon]="false"
      [showBackButton]="false"
      [showLogin]="false"
    ></app-header-with-back>
    <div class="data-container">
      <div class="left-container">
        <img src="assets/images/otp.png" alt="" />
      </div>
      <div class="right-container">
        <div class="right-inside">
          <h1>Enter verification code</h1>
          <p class="text">We have sent you a 6 digit verification code on</p>
          <div class="phone-no">+91 {{dataProvider.userMobile}}</div>

          <div class="otp-inputs">
            <ng-otp-input
              #ngOtpInput
              (onInputChange)="onOtpChange($event)"
              *ngIf="showOtpComponent"
              [config]="config"
            ></ng-otp-input>
          </div>

          <div class="resend">
            <div id="recaptcha-container2"></div>
            <p>Didn't receive code?</p>
            &nbsp;
            <p
              *ngIf="resendOtpTime === 0"
              style="color: #5e0080; cursor: pointer"
              (click)="sendOTP()"
            >
              Resend OTP
            </p>
            <p
              *ngIf="resendOtpTime > 0"
              style="color: #5e0080; cursor: pointer"
            >
              Resend OTP in {{resendOtpTime}} sec
            </p>
          </div>
          <ion-button class="signup" color="dark" (click)="login()"
            >Login</ion-button
          >
        </div>
      </div>
    </div>
  </div>
</ion-content>
