<div class="container-fluid">
  <div class="row">
    <ion-header collapse="fade" mode="ios">
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-icon name="location-outline" size="large"></ion-icon>
        </ion-buttons>
        <ion-select label="Alert Interface" mode="md" label-placement="stacked" placeholder="Select fruit">
          <ion-select-option value="apples">Apples</ion-select-option>
          <ion-select-option value="oranges">Oranges</ion-select-option>
          <ion-select-option value="bananas">Bananas</ion-select-option>
        </ion-select>
        <ion-buttons slot="end">
          <ion-button routerLink="/Notification"> <ion-icon name="notifications-outline" size="large" color="dark"></ion-icon> </ion-button>
        </ion-buttons>
      </ion-toolbar>
      <ion-toolbar>
        <ion-searchbar autocorrect="on" showCancelButton="never"> <button class="search-btn"><i
              class="fas fa-search"></i></button></ion-searchbar>
      </ion-toolbar>
    </ion-header>
  </div>
  <div class="container-fluid mt-4">
    <h2>All Categories</h2>
    <div class="row  mt-4 justify-content-md-center">
      <div class="col-4 text-center" *ngFor="let Categories of AllCategories" routerLink="/Ac-Repair">
        <img alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
        <ion-label>{{Categories.label}}</ion-label>
      </div>
    </div>
  </div>
</div>
<ion-footer class="margin" [translucent]="true">
  <ion-toolbar>
    <div class="container">
      <div class="row ">

        <div class="col text-center">
          <ion-button fill="clear" color="dark">
            <ion-icon name="home-outline" size="large"></ion-icon>
          </ion-button> <ion-label>Home</ion-label>
        </div>
        <div class="col text-center">
          <ion-button fill="clear" color="dark">
            <ion-icon name="calendar-outline" size="large"></ion-icon>
          </ion-button> <ion-label>Bookings</ion-label>
        </div>
        <div class="col text-center"> <ion-button fill="clear" color="dark">
            <ion-icon name="cart-outline" size="large"></ion-icon>
          </ion-button> <ion-label>Cart</ion-label> </div>
        <div class="col text-center ">
          <ion-button fill="clear">
            <ion-icon name="person-outline" color="dark" size="large"></ion-icon>
          </ion-button> <ion-label>Profile</ion-label>
        </div>
      </div>
    </div>
  </ion-toolbar>
</ion-footer>