<ion-content [fullscreen]="true">
	<h2>{{matchingSubCategory?.name}}</h2>
	<img [src]="matchingSubCategory?.image" alt="">
	<div class="services">
		<div class="service" *ngFor="let service of services" routerLink="../../../service-detail/{{matchingMainCategory?.id}}/{{matchingSubCategory?.id}}/{{service?.id}}">
			<img [src]="service.image" alt="">
			<div class="content">
				<h3>{{service.name}}</h3>
				<p>{{service.description}}</p>
				<div class="price">
					<span>{{service.price}}</span>
					<button ion-button icon-only clear item-right>
						<ion-icon name="add"></ion-icon>
					</button>
				</div>
			</div>
		</div>
	</div>
</ion-content>
