<div class="main">
  <!-- Toolbar -->
  <ion-header [translucent]="true">
    <ion-toolbar>
      <ion-icon name="arrow-back-outline" class="back-icon" routerLink="../../upcoming-history"></ion-icon><span
        class="booking-title">Booking Details</span>
      <img class="notification" routerLink="../../../notification" src="../../../assets/fi-rr-bell.svg" alt="" />
      <img class="notification" src="../../assets/Ellipse 1.svg" alt="" />
    </ion-toolbar>
  </ion-header>
  <!-- Order ID card -->
  <div class="container">
    <div class="row">
      <div class="order">
        <span>
          <img src="../../../assets/Calender 2.svg" alt="" />
          <h3>Order ID</h3>
        </span>
        <h5>{{currentBooking?.id}}</h5>
      </div>

      <div class="order">
        <span>
          <img src="../../../assets/Calender 2.svg" alt="" />
          <h3>Order Date</h3>
        </span>
        <h5>{{currentBooking?.createdAt?.toDate() | date:'longDate'}}</h5>
      </div>
    </div>
  </div>

  <!-- Profile Section -->
  <div class="Profile">
    <div class="icon-text" *ngIf="assignedAgent !== undefined">
      <img class="profile-icon" src="../../../assets/profile-sign.svg" alt="" />
      <p>Professional Assigned</p>
    </div>
    <div class="icon-text" *ngIf="assignedAgent === undefined">
        <h3>Finding a professional</h3>
    </div>
    <!-- Profile image & Name -->
    <div class="agent-det-div" *ngIf="assignedAgent !== undefined">
      <div class="row-2">
        <div class="agent-img">
          <img class="profile-pic" src="{{assignedAgent.photoUrl}}" alt="" />
        </div>
        <div class="agent-name">
          <p>{{assignedAgent.name}}</p>
          <div class="rating-div">
            <img class="star" src="/assets/star.svg" alt="" />
            <p>4.5 <span>(87)</span></p>
          </div>
        </div>
        <div class="call-button" *ngIf="jobTimeBeforMins > 30 ||  jobTimeBeforMins < 0 ">
          <button>
            <img class="call" src="../../../assets/Call.svg" alt="" />
          </button>
        </div>
        <div class="call-text" *ngIf="jobTimeBeforMins < 30 &&  jobTimeBeforMins > 0 ">
          <p>Phone No. will be visible 30 min prior to booking</p>
        </div>
      </div>
      <hr>
      <!-- OTP -->
      <div class="row-4">
        <h5>OTP to start the service</h5>
        <div class="otp-div">
          <!-- {{(currentBooking?.jobOtp)?.length}} -->
          <div class="otp-digit" *ngFor="let otp of jobOtp">
              {{otp}}
            </div>
          </div>
        </div>
      </div>
    </div>
  <!-- Offer water -->
  <div class="water">
    <img class="glass-image" src="../../../assets/glass1.svg" alt="" />
    <span>
      <p>Offer drinking water to the professional</p>
    </span>
  </div>

  <!-- Service Section -->
  <div class="Service-section">
    <!-- Card header -->
    <div class="row-5">
      <p class="head">Services</p>
      <!-- <div class="row-6"> -->
      <p class="body">{{currentBooking?.stage}}</p>
      <!-- </div> -->
    </div>
    <!-- Price and Subject -->
    <ng-container *ngFor="let service of currentBooking?.services">
      <!-- <div class="row-7">
        <div class="left">
          <img class="image" [src]="service.image" alt="" />
          <span class="head">{{service.name}}</span><br />
        </div>
      </div> -->
      <!-- <div class="row-7" *ngFor="let variant of service.variants">
        <div class="left">
          <span class="head">{{variant.name}}</span><br />
          <span class="body">{{variant.jobDuration}}</span>
          <span class="body1">{{variant.jobAcceptanceCharge | currency:'INR'}}</span>
        </div>
        <div class="row-8">
          <section class="right">
            {{variant.billing.totalPrice | currency:'INR'}}
          </section>
        </div>
      </div> -->
      
      <div *ngFor="let service of currentBooking?.services">
        <div *ngFor="let variant of service.variants" class="service-det-div" >
          <div class="img-div">
            <div class="img-circle-div">
              <img src="{{currentBooking?.mainCategory?.icon}}" alt="" style="padding-top: 12px; padding-left: 12px;">
            </div>
          </div>
          <div class="category-det-div">
            <h3>{{service.name}}</h3>
            <span>{{variant.name }} x {{ variant.quantity}}</span>
          </div>
          <div class="price-div">
            <span>{{variant.billing.discountedPrice | currency:'INR' }}</span>
          </div>
        </div>
      </div>

      <hr />
    </ng-container>
    <!-- Total price and pay format  -->
    <div class="total">
      <div class="row-10">
        <h6>Delivery Mode</h6>
        <span>
          <h5>COD</h5>
        </span>
      </div>
      <div class="row-9">
        <h6>Total</h6>
        <span>
          <h5>{{currentBooking?.billing?.grandTotal | currency:'INR'}}</h5>
        </span>
      </div>
    </div>
  </div>

  <!-- Date and Time -->
  <div class="third-section">
    <div class="row-1">
      <p class="head">Date & Time</p>
    </div>

    <div class="row-2" *ngFor="let date of dateNtime">
      <section>
        <img style="margin-top: 4px" [src]="date.img" alt="" />
      </section>

      <section style="margin-left: 10px">
        <span class="head">{{date.head}}</span><br />
        <span class="body">{{date.body}}</span>
      </section>
    </div>
  </div>

  <!-- Address -->
  <div class="address">
    <div class="row-1">
      <p class="head">Address</p>
    </div>

    <div class="row-2">
      <section style="margin-left: 10px">
        <p class="head">{{currentBooking?.address?.addressLine1}}</p>
        <p class="body">{{currentBooking?.address?.cityName}}</p>
        <p class="body">{{currentBooking?.address?.stateName}}</p>
        <p class="body">{{currentBooking?.address?.pincode}}</p>
      </section>
    </div>
  </div>

  <!-- pictures before and after work -->
  <div class="pictures-div">
    <div class="pictures-before" *ngIf="currentBooking?.picsBefore">
      <h3>Pictures Before Work</h3>
      <div class="img-cont" >
        <div class="images" *ngFor = "let item of currentBooking?.picsBefore">
          <img src="{{item}}" alt="">
        </div>
      </div>
    </div>
    <div class="pictures-after" *ngIf="currentBooking?.picsAfter">
      <h3>Pictures After Work</h3>
      <div class="img-cont">
        <div class="images" *ngFor = "let item of currentBooking?.picsAfter">
          <img src="{{item}}" alt="">
        </div>
      </div>
    </div>
  </div>

  <!-- Payment Details -->
  <div>
    <ion-card class="payment">
      <ion-card-header style="border-bottom: 1px double #d7d7d7">
        <div class="title">
          <span>Payment Details</span>
          <button>
            <img src="../../../../assets/download.svg" alt="">
          </button>
        </div>
        <span>
          <div class="head">Total Duration</div>
        </span>
        <span>
          <div class="body">{{duration}}</div>
        </span>
        <span>
          <div class="head">Total (MRP)</div>
        </span>
        <span>
          <div class="body">
            {{currentBooking?.billing?.subTotal | currency:'INR'}}
          </div>
        </span>
        <span>
          <div class="head">Discount</div>
        </span>
        <span>
          <div class="body" style="color: #579540">
            {{discount | currency:'INR'}}
          </div>
        </span>
        <span>
          <div class="head">Discounted Price</div>
        </span>
        <span>
          <div class="body">
            {{currentBooking?.billing?.grandTotal | currency:'INR'}}
          
          </div>
        </span>
        <!-- Total Price -->
        <div style="border-top: 2px dashed #d7d7d7">
          <span>
            <div class="total-price">Total</div>
          </span>
          <span>
            <div class="amount">
              {{(currentBooking?.billing?.subTotal || 0) -
                (currentBooking?.billing?.discount || 0) | currency:'INR'}}
            </div>
          </span>
        </div>
        <!-- Banner -->

        <div class="offer-bar" *ngIf="discount !==0">
          <img class="tag-image" src="../../../assets/tag.svg" alt="" />
          <p class="tag-text">Yay! You have saved {{discount | currency:'INR'}} on final bill</p>
        </div>
      </ion-card-header>
    </ion-card>
  </div>

  <!-- Rating -->
  <div class="review-section">
    <!-- Card header -->
    <div class="row-5">
      <h3 class="head">Rating</h3>
      <p>(Ratings can be given/changed within 2 hours after the completion of Service)</p>
    </div>

    <div class="service-review-cont"  *ngFor="let service of currentBooking?.services">
      <!-- Price and Subject -->
      <div class="row-7" *ngFor="let variant of service.variants">
          <div class="img-div">
            <img class="image" src="{{currentBooking?.mainCategory?.icon}}" alt="" />
          </div>
          <div class="service-det">
            <div class="service-head">
              <h3 class="head">{{service.name}}</h3>
              <span class="body1">{{variant.name }} x {{ variant.quantity}}</span>
            </div>
  
            <div class="rating" id="open-modal-rate" expand="block" (click)="isModalOpenRate=true">
              <p style="margin-right: 10px">You Rated</p>
              <span><img src="../../../assets/carbon_star-filled.svg" alt="" /></span>
              <span><img src="../../../assets/carbon_star-filled.svg" alt="" /></span>
              <span><img src="../../../assets/carbon_star-filled.svg" alt="" /></span>
              <span><img src="../../../assets/star-outlined.svg" alt="" /></span>
              <span><img src="../../../assets/star-outlined.svg" alt="" /></span>
            </div>
          </div>
          <div class="price">
            <span class="right">{{variant.billing.discountedPrice | currency:'INR' }}</span>
          </div>
        </div>
    </div>

    <div class="reschedule-container mt-4">
      <button class = "reschedule-button" type="button" >Reschedule</button>
      <button class = "cancel-button" type="button"  >
        Cancel Booking
      </button>
    </div>
    <div class="container">
      <ion-card>
        <ion-card-content>
          <ul>
            <li>
              No charge if you reschedule or cacnel until 3 hours before the
              service
            </li>
            <li>Within 3hrs, a cancellation fee of ₹100 is applicable</li>
          </ul>
        </ion-card-content>
      </ion-card>
    </div>

    <ion-modal mode="ios" trigger="open-modal" [initialBreakpoint]="0.50" [breakpoints]="[0, 0.25, 0.5, 0.75]"
      handleBehavior="cycle">
      <ng-template>
        <ion-content class="ion-padding">
          <form [formGroup]="CancelForm">
            <div class="ion-margin-top">
              <h2><b> Cancellation Reason </b></h2>

              <div *ngFor="let item of RADIO_LIST; let i=index">
                <input type="radio" [value]="item.value" [checked]="item.checked" formControlName="CancelOptions" />
                <label>{{item.name}}</label>
              </div>
            </div>

            <div class="container-fluid">
              <div class="row text-center" style="background-color: #f2ebf5">
                <p class="mt-3" style="color: #5e0080">
                  We won't be charging you a cancellation fee
                </p>
              </div>
            </div>
            <div class="bottom mt-4" routerLink="/">
              <ion-button class="text-light bg-dark" [disabled]="CancelForm.invalid" expand="block" routerLink="/">
                Cancel Booking
              </ion-button>
            </div>
          </form>
        </ion-content>
      </ng-template>
    </ion-modal>

    <ion-modal mode="ios" trigger="open-modal-rate" [isOpen]="isModalOpenRate" [initialBreakpoint]="0.70" [breakpoints]="[0, 0.25, 0.5, 0.75]"
      handleBehavior="cycle">
      <ng-template>
        <ion-content class="ion-padding">
          <div class="container">
            <div class="row text-center">
              <h2><b> Kitchen Cleaning </b></h2>
              <small style="color: #6f767e">Complete Kitchen Shape</small>
              <ion-img src="https://docs-demo.ionic.io/assets/madison.jpg"
                alt="The Wisconsin State Capitol building in Madison, WI at night"></ion-img>
              <small style="color: #579540">Thank you for your rating!</small>
              <div class="col">
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star"></i>
                <i class="bi bi-star"></i>
              </div>
              <br />
              <form>
                <div class="form-group">
                  <input type="text" class="form-control" placeholder="Review Title" />

                  <textarea class="form-control" placeholder="Service Review" rows="3"></textarea>
                </div>
                <div class="container mt-4">
                  <button type="button" class="btn btn-outline-dark">
                    Skip
                  </button>

                  <span class="example-spacer"></span>

                  <button type="button text-light" class="btn btn-dark">
                    Submit
                  </button>
                </div>
              </form>
            </div>
          </div>
        </ion-content>
      </ng-template>
    </ion-modal>
  </div>
</div>