<!-- <ion-content> -->
<div class="main">
  <div class="row1">
    <div class="col1">
      <div class="jsc-div">
        <img src="../../../assets/images/logo.png" alt="" />
        <span>Jaipur Service Company</span>
      </div>
    </div>
    <div class="vertical-line"></div>

    <div class="contact">
      <div class="head">
        <p class="head1">Mail us :</p>
        <p>&nbsp;jaipurservicecompany@gmail.com</p>
      </div>
      <div class="head">
        <p class="head1">Call us :</p>
        <p>&nbsp;+91 9782688826</p>
      </div>
      <div class="head">
        <p class="head1">Address :</p>
        <p>&nbsp;107, mansarovar, Narayan Vihar, Jaipur, Rajasthan 302020</p>
      </div>
    </div>

    <div class="vertical-line"></div>
    <div class="col2">
      <div class="head"><h3>Social</h3></div>

      <div class="social-icons">
        <a href="https://www.facebook.com/profile.php?id=100089889237508" target="_blank">
          <img src="../../../assets/icon/webFooter/fb.svg" alt="Facebook" />
        </a>
        <a href="https://www.instagram.com/jaipurservicecompany?igsh=MzRlODBiNWFlZA==" target="_blank">
          <img src="../../../assets/icon/webFooter/insta.svg" alt="Instagram" />
        </a>
        <a href="https://wa.me/919782688826" target="_blank">
          <img src="../../../assets/icon/webFooter/whatsapp.svg" alt="WhatsApp" />
        </a>
      </div>

      <div class="play-btn">
        <a
          target="_blank"
          href="https://play.google.com/store/apps/details?id=com.shreeva.jaipurservicecompanycustomer&pli=1"
        >
          <img
            src="../../../assets/icon/webFooter/google-play-badge 1.png"
            alt="Download from Play Store"
          />
        </a>
      </div>
    </div>
  </div>
  <div class="row2">
    <div class="sub-col1">
      <button (click)="openTnC()">Terms and Condition</button>
      <button (click)="openPrivacy()">Privacy Policy</button>
      <button (click)="openRefund()">Refund and Pricing Policy</button>
    </div>
    <span class="sub-col2"
      >Copyright 2022 Jaipur Service Company. All rights reserved.</span
    >
  </div>
</div>
