<!-- <ion-content> -->
<div class="main">
  <div class="row1">
    <div class="col1">
      <div class="jsc-div">
        <img src="../../../assets/images/logo.png" alt="" />
        <span>Jaipur Service Company</span>
      </div>
    </div>
    <div class="vertical-line"></div>
    <div class="col2">
      <div class="head"><h3>Social</h3></div>

      <div class="social-icons">
        <img src="../../../assets/icon/webFooter/fb.svg" alt="" />
        <img src="../../../assets/icon/webFooter/insta.svg" alt="" />
        <img src="../../../assets/icon/webFooter/whatsapp.svg" alt="" />
      </div>
      <div class="play-btn">
        <img
          src="../../../assets/icon/webFooter/google-play-badge 1.png"
          alt=""
        />
      </div>
    </div>
  </div>
  <div class="row2">
    <div class="sub-col1">
      <span>
        <a target="_blank" href="https://jaipurservicecompany.com/terms.html">
          Terms and Condition
        </a>
      </span>
      <span>
        <a target="_blank" href="https://jaipurservicecompany.com/privacy.html">
          Privacy Policy
        </a>
      </span>
      <span>
        <a
          target="_blank"
          href="https://jaipurservicecompany.com/refundpricingpolicy.html"
        >
          Refund and Pricing Policy
        </a>
      </span>
    </div>
    <span class="sub-col2"
      >Copyright 2022 Jaipur Service Company. All rights reserved.</span
    >
  </div>
</div>
