/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";
@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

ion-header {
  box-shadow: none;
}
ion-toolbar {
  box-shadow: none;
}
* {
  font-family: Lato !important;
}
.modal-wrapper,
.modal-shadow {
  border-radius: 20px !important;
}
:host(.modal-sheet) .modal-wrapper,
:host(.modal-sheet) .modal-shadow {
  border-radius: 20px !important;
}
ion-modal::part(backdrop) {
  --backdrop-opacity: 0.4;
}

#web-view {
  display: none;
}

.login-btn {
  display: inline-flex;
  padding: 6px 20px;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  background: #5e0080;
  color: #fff;
  font-feature-settings: "clig" off, "liga" off;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: capitalize;
}

@media only screen and (min-width: 1024px) {
  #web-view {
    display: block;
  }

  ion-modal {
    --width: 65%;
    --height: 75%;
  }

  #mobile-view {
    display: flex;
  }

  .back-container {
    background: linear-gradient(165deg, #f9cef4 0%, #246f99 100%);
    padding-top: 5%;
    padding-bottom: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

    .main-container {
      width: 50%;
      margin: 0 auto;
      border-radius: 10px;
      padding: 20px;
      background: white;
      height: 100%;
      overflow-y: auto;
    }
  }
}
