<app-home-header [MAX_ADDRESS_LINE_LENGTH]="30"></app-home-header>

<ion-content class="ion-padding" [fullscreen]="true">
  <button id="search" routerLink="../search">
    <p>Search what you need</p>
    <span>
      <img src="assets/ui_icons/search.svg" alt="" />
    </span>
  </button>
  <div class="container">
    <div class="row mt-4 text-center">
      <div id="carouselExampleDark" class="carousel carousel-dark slide">
        <div class="carousel-indicators">
          <button
            type="button"
            data-bs-target="#carouselExampleDark"
            data-bs-slide-to="0"
            class="active"
            aria-current="true"
            aria-label="Slide 1"
          ></button>
          <button
            type="button"
            data-bs-target="#carouselExampleDark"
            data-bs-slide-to="1"
            aria-label="Slide 2"
          ></button>
          <button
            type="button"
            data-bs-target="#carouselExampleDark"
            data-bs-slide-to="2"
            aria-label="Slide 3"
          ></button>
        </div>
        <div class="carousel-inner" >
            <div class="carousel-item active" data-bs-interval="2000" *ngFor="let banner of banners">
              <img
                [src]="banner.img"
                class="d-block w-100"
                alt="..."
              />
              <div class="carousel-caption d-none d-md-block">
                <h5>First slide label</h5>
                <p>
                  Some representative placeholder content for the first slide.
                </p>
              </div>
            </div>

            <!-- <div class="carousel-item" data-bs-interval="2000">
              <img
                src="/assets/Group 1000003163.png"
                class="d-block w-100"
                alt="..."
              />
              <div class="carousel-caption d-none d-md-block">
                <h5>Second slide label</h5>
                <p>
                  Some representative placeholder content for the second slide.
                </p>
              </div>
            </div>
            <div class="carousel-item">
              <img
                src="/assets/Group 1000003163.png"
                class="d-block w-100"
                alt="..."
              />
              <div class="carousel-caption d-none d-md-block">
                <h5>Third slide label</h5>
                <p>
                  Some representative placeholder content for the third slide.
                </p>
              </div>
            </div> -->
        </div>
        <!-- <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button> -->
      </div>
    </div>
  </div>

  <div class="mainCategory" *ngFor="let mainCategory of homeService.mainCategories | async">
    <h3>{{mainCategory.name}}</h3>
    <img class="banner" [src]="mainCategory.image" alt="">
    <h4>Services</h4>
    <div class="subCategories">
      <div class="category" *ngFor="let subCategory of mainCategory.subCategories" routerLink="../services/{{mainCategory.id}}/{{subCategory.id}}">
        <img [src]="subCategory.image" alt="">
        <p>{{subCategory.name}}</p>
      </div>
    </div>
  </div>


  <!-- <div class="container">
    <div class="row mt-4">
      <h2>Our Services</h2>
      <div class="col text-center">
        <ion-avatar>
          <img
            alt="Silhouette of a person's head"
            src="\assets\Ellipse 208.png"
          />
          <ion-label>AC Repair</ion-label></ion-avatar
        >
      </div>
      <div class="col text-center">
        <ion-avatar>
          <img
            alt="Silhouette of a person's head"
            src="\assets\Group 34260 (6).png"
          />
          <ion-label>Home Cleaning</ion-label></ion-avatar
        >
      </div>
      <div class="col text-center">
        <ion-avatar>
          <img
            alt="Silhouette of a person's head"
            src="\assets\Group 34261 (1).png"
          />
          <ion-label>Kitchen Cleaning</ion-label></ion-avatar
        >
      </div>
      <div class="col text-center">
        <ion-avatar routerLink="/all-categories">
          <img
            alt="Silhouette of a person's head"
            src="\assets\Group 34155.png"
          />
          <ion-label>See All</ion-label>
        </ion-avatar>
      </div>
    </div>
  </div> -->
  <div class="container margin">
    <div class="row">
      <div class="col-9">
        <h2>Cleaning</h2>
      </div>
    </div>
  </div>
  <div class="container mt-2">
    <div class="row">
      <div class="col text-center" *ngFor="let Clean of Cleaning">
        <ion-thumbnail routerLink="/booking">
          <img alt="Silhouette of mountains" src="{{Clean.img}}" />
          <ion-label class="mt-4">{{Clean.label}}</ion-label>
        </ion-thumbnail>
      </div>
    </div>
  </div>
  <div class="container margin">
    <div class="row text-center">
      <div id="carouselExampleDark" class="carousel carousel-dark slide">
        <div class="carousel-indicators">
          <button
            type="button"
            data-bs-target="#carouselExampleDark"
            data-bs-slide-to="0"
            class="active"
            aria-current="true"
            aria-label="Slide 1"
          ></button>
          <button
            type="button"
            data-bs-target="#carouselExampleDark"
            data-bs-slide-to="1"
            aria-label="Slide 2"
          ></button>
          <button
            type="button"
            data-bs-target="#carouselExampleDark"
            data-bs-slide-to="2"
            aria-label="Slide 3"
          ></button>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item active" data-bs-interval="10000">
            <img src="\assets\Frame 2.png" class="d-block w-100" alt="..." />
            <div class="carousel-caption d-none d-md-block">
              <h5>First slide label</h5>
              <p>
                Some representative placeholder content for the first slide.
              </p>
            </div>
          </div>
          <div class="carousel-item" data-bs-interval="2000">
            <img src="\assets\Frame 2.png" class="d-block w-100" alt="..." />
            <div class="carousel-caption d-none d-md-block">
              <h5>Second slide label</h5>
              <p>
                Some representative placeholder content for the second slide.
              </p>
            </div>
          </div>
          <div class="carousel-item">
            <img src="\assets\Frame 2.png" class="d-block w-100" alt="..." />
            <div class="carousel-caption d-none d-md-block">
              <h5>Third slide label</h5>
              <p>
                Some representative placeholder content for the third slide.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container margin">
    <div class="row">
      <div class="col-9">
        <h2>AC Repair</h2>
      </div>
    </div>
  </div>
  <div class="container mt-2">
    <div class="row">
      <div class="col text-center" *ngFor="let Clean of ACRepair">
        <ion-thumbnail routerLink="/booking">
          <img alt="Silhouette of mountains" src="{{Clean.img}}" />
          <ion-label class="mt-4">{{Clean.label}}</ion-label>
        </ion-thumbnail>
      </div>
    </div>
  </div>
  <div class="container margin">
    <div class="row">
      <div class="col-9">
        <h2>Bathroom Cleanings</h2>
      </div>
    </div>
  </div>
  <div class="container mt-2">
    <div class="row">
      <div class="col text-center" *ngFor="let Clean of BathroomCleanings">
        <ion-thumbnail routerLink="/booking">
          <img alt="Silhouette of mountains" src="{{Clean.img}}" />
          <ion-label class="mt-4">{{Clean.label}}</ion-label>
        </ion-thumbnail>
      </div>
    </div>
  </div>
</ion-content>
<ion-footer class="margin" [translucent]="true">
  <ion-toolbar>
    <div class="container">
      <div class="row">
        <div class="col text-center">
          <ion-button fill="clear" color="dark" (click)="home()" >
            <ion-icon name="home-outline" size="large" ></ion-icon>
          </ion-button>
          <ion-label>Home</ion-label>
        </div>
        <div class="col text-center">
          <ion-button fill="clear" color="dark"  routerLink="/booking/upcoming-history">
            <ion-icon name="calendar-outline" size="large"></ion-icon>
          </ion-button>
          <ion-label>Bookings</ion-label>
        </div>
        <div class="col text-center">
          <ion-button fill="clear" color="dark" (click)="cart()">
            <ion-icon name="cart-outline" size="large"></ion-icon>
          </ion-button>
          <ion-label>Cart</ion-label>
        </div>
        <div class="col text-center">
          <ion-button fill="clear" routerLink='/profile'>
            <ion-icon
              name="person-outline"
              color="dark"
              size="large"
            ></ion-icon>
          </ion-button>
          <ion-label>Profile</ion-label>
        </div>
      </div>
    </div>
  </ion-toolbar>
</ion-footer>
