.descriptionBody{
	padding: 8px;
	background: #E8E9EA;
	border: 2px solid #dcdcdc;
	border-radius: 12px;
	margin: 1px;
	box-shadow: 0px 0px 15px rgba(0,0,0,0.1);
	.descrption-title{
		font-size: 14px;
		font-weight: 500;
	}
}
.buttonRow{
	display: flex;
	gap:20px;
	ion-button{
		width: 100%;
	}
}

// <div class="variant" *ngFor="let variant of matchingService?.variants">
// <div class="detail">
// <p class="name">{{variant.name}}</p>
// <p class="price">{{variant.price}}</p>
// </div>
// <div class="buttons">
// <ion-button fill="outline" color="dark" size="large">Add To Cart</ion-button>
// <ion-button color="dark" size="large">Book Now</ion-button>
// </div>
// </div>
.variants{
	display: flex;
	flex-direction: column;
	gap:10px;
	.variant{
		display: flex;
		flex-direction: column;
		gap:10px;
		.detail{
			display: flex;
			justify-content: space-between;
			.name{
				font-size: 1.2rem;
				font-weight: 600;
			}
			.price{
				font-size: 1.2rem;
				font-weight: 600;
				color: green;
			}
		}
		.buttons{
			display: flex;
			gap:10px;
			ion-button{
				width: 100%;
			}
		}
	}
}
.service-details{
	.service-title{
		font-weight: 700;
		margin-top: 18px;
		font-size: 14px;
	}
	.text-end h3{
		font-size: 14px;
     font-weight: 700;
	}
	.rate{
		font-size: 12px;
		font-weight: 600;
	}
	.discount{
		height: 16px;
		margin-top: 0px;
		margin-bottom: 1rem;
		}
	}