<ng-container *ngIf="mobileView">
  <app-header-with-back
    [title]="title"
    [showNotificationIcon]="false"
  ></app-header-with-back>

  <ion-content [fullscreen]="true">
    <div class="container" id="container">
      <div class="row position-relative swiper-main">
        <swiper-container
          class="swiperdiv"
          pagination="true"
          slides-per-view="1"
          speed="800"
          delay="1000"
          autoplay="true"
          loop="true"
          css-mode="true"
          *ngIf=" matchingService?.image ||matchingService?.video"
        >
          <swiper-slide *ngFor="let image of this.matchingService?.image">
            <img
              style="width: 100%; height: 100%; border-radius: 15px"
              [src]="image"
              [alt]="matchingService?.name"
            />
          </swiper-slide>

          <swiper-slide *ngIf="this.matchingService?.video">
            <video
              class="d-block w-100"
              #videoContainer
              controls
              autoplay
              preload="auto"
              muted
              width="100%"
              height="200px"
              style="border-radius: 15px"
            >
              <source src="{{this.matchingService?.video}}" type="video/mp4" />
            </video>
          </swiper-slide>
        </swiper-container>
        <div
          class="swiperdiv1"
          *ngIf="!matchingService?.image && !matchingService?.video"
        >
          <img src="https://via.placeholder.com/100" alt="" />
        </div>
      </div>
      <div
        *ngFor="let variant of matchingService?.variants;"
        class="item-inner1"
      >
        <ion-item>
          <ion-grid>
            <ion-row>
              <ion-col size="6">
                <div class="newdiv">
                  <h6>{{this.variant?.name}}</h6>
                  <p>
                    {{this.variant.price | currency:'INR': 'symbol' : '1.0-0'}}
                  </p>
                </div>
              </ion-col>
              <ion-col
                size="6"
                [ngStyle]="{'display':this.cartService.isInCart(matchingService!,variant.id,matchingMainCategory!.id,matchingSubCategory!.id)?'none':'block'}"
              >
                <div class="div-set">
                  <div class="divset1">
                    <button class="button1" (click)="addToCart(variant)">
                      <ion-icon name="cart-outline"></ion-icon>
                    </button>
                  </div>
                  <div class="divset2">
                    <ion-button
                      class="button2"
                      (click)="bookNow(matchingMainCategory!.id,matchingService!.id,variant.id)"
                    >
                      <label for="ion-button"> Book Now</label>
                    </ion-button>
                  </div>
                </div>
              </ion-col>
              <ion-col
                [ngStyle]="{'display':this.cartService.isInCart(matchingService!,variant.id,matchingMainCategory!.id,matchingSubCategory!.id)?'block':'none'}"
                size="6"
              >
                <div class="div-set">
                  <div class="divset3">
                    <ion-button
                      class="minus"
                      (click)="decrementQuantity(matchingMainCategory!.id,matchingSubCategory!.id,matchingService!,variant.id)"
                    >
                      <label for="ion-button"> _ </label>
                    </ion-button>
                    <span
                      class="input-div"
                      type="number"
                      id="input{{variant.id}}"
                      text-center
                      min="1"
                      max="5"
                    >
                      {{this.cartService.getQuantity(matchingService!,variant.id,matchingMainCategory!.id,matchingSubCategory!.id)}}
                    </span>
                    <ion-button
                      class="plus"
                      (click)="incrementQuantity(matchingMainCategory!.id,matchingSubCategory!.id,matchingService!,variant.id)"
                    >
                      +
                    </ion-button>
                  </div>
                  <div class="divset4">
                    <ion-button
                      class="trash"
                      (click)="removeFromCart(matchingMainCategory!.id,matchingSubCategory!.id,matchingService!,variant.id)"
                    >
                      <img src="/assets/Delete2.svg" alt="abhinav" />
                    </ion-button>
                  </div>
                </div>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-item>
        <div
          [ngStyle]="{'display':this.cartService.isInCart(matchingService!,variant.id,matchingMainCategory!.id,matchingSubCategory!.id)?'block':'none'}"
        >
          <div class="page-variant-main" *ngIf="isCategoryItemsLoaded">
            <div class="variants_modal" style="align-items: center">
              <div class="services-button-view fixed-cart-button">
                <div class="fixed-cart-inner">
                  <div class="col-6 cart-details">
                    <div class="cartset">
                      <span>
                        {{this.cartService.getServiceBill(matchingService!,matchingMainCategory!.id,matchingSubCategory!.id)
                        | currency:'INR':'symbol' :'1.0-0'}}
                      </span>
                      <p>
                        | {{
                        this.cartService.getServiceQuantity(matchingService!,matchingMainCategory!.id,matchingSubCategory!.id)
                        }} items
                      </p>
                    </div>
                  </div>
                  <div class="col-6 see-all-variants">
                    <p class="view-cart">
                      <ion-button
                        class="service-common-button w-100"
                        color="dark"
                        (click)="ViewCart()"
                      >
                        View Cart
                      </ion-button>
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <ion-card class="cardset">
        <ion-card-header>
          <ion-card-title>Service Description</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <ng-container *ngFor="let des of matchingService.description.blocks">
            <strong *ngIf="des.type ==='header'">{{des.data.text}}</strong>

            <p *ngIf="des.type ==='paragraph'">{{des.data.text}}</p>

            <ul *ngIf="des.type ==='list'">
              <li *ngFor="let item of des.data.items">{{item}}</li>
            </ul>
          </ng-container>
        </ion-card-content>
      </ion-card>
      <div class="cardset2">
        <ion-card-header>
          <ion-card-title>Tags</ion-card-title>
        </ion-card-header>
        <div>
          <div class="tags-container">
            <ion-chip *ngFor="let tag of matchingService.tags">
              <ion-label>{{ tag }}</ion-label>
            </ion-chip>
          </div>
        </div>
      </div>
    </div>
  </ion-content>
</ng-container>

<ng-container *ngIf="!mobileView">
  <app-header-with-back
    id="web-view"
    [title]="title"
    [showNotificationIcon]="false"
  ></app-header-with-back>

  <div id="web-view" class="back-container">
    <div class="main-container divset">
      <div class="container" id="container">
        <div
          *ngIf="this.matchingService?.image || this.matchingService?.video"
          class="row position-relative swiper-main"
        >
          <swiper-container
            pagination="true"
            slides-per-view="1"
            speed="800"
            delay="1000"
            autoplay="true"
            loop="true"
            css-mode="true"
            pauseOnMouseEnter="true"
          >
            <swiper-slide *ngIf="this.matchingService?.video">
              <video
                #videoContainer
                controls
                autoplay
                preload="auto"
                muted
                width="100%"
              >
                <source
                  src="{{this.matchingService?.video}}"
                  type="video/mp4"
                />
              </video>
            </swiper-slide>

            <swiper-slide *ngFor="let image of this.matchingService?.image">
              <img [src]="image" [alt]="matchingService?.name" />
            </swiper-slide>
          </swiper-container>
        </div>

        <div class="row service-details">
          <div class="col-8 col1">
            <h2 class="service-title">{{this.matchingService?.name}}</h2>
            <p>
              <!-- <img src="../../../assets/star1.svg" alt="">
          <span class="rating">4.5</span>
          <span class="review">(87)</span> -->
              <ion-icon
                name="star"
                *ngIf="matchingService?.averageRating"
                style="zoom: 1.3; margin-right: 5px"
              ></ion-icon>
              <strong *ngIf="matchingService?.averageRating"
                >{{matchingService?.averageRating}}</strong
              >
              <span
                ><img
                  src="../../../assets/star-outlined.svg"
                  alt=""
                  class="no-rating"
                  *ngIf="!matchingService?.averageRating"
              /></span>
              <strong *ngIf="!matchingService?.averageRating">
                No Rating</strong
              >
            </p>
          </div>
          <div class="col-4 text-end">
            <ion-label class="price">
              {{this.matchingService?.variants![0]?.price | currency:'INR':
              'symbol' : '1.0-0'}}
            </ion-label>
          </div>
        </div>

        <div class="page-variant-main" *ngIf="isCategoryItemsLoaded">
          <div class="variants_modal" style="align-items: center">
            <div class="services-button-view abs-cart-button">
              <div class="fixed-cart-inner">
                <div class="col-6 cart-details">
                  <div class="">
                    <span>
                      {{this.cartService.getServiceBill(matchingService!,matchingMainCategory!.id,matchingSubCategory!.id)
                      | currency:'INR'}}
                    </span>
                    <p>
                      {{
                      this.cartService.getServiceQuantity(matchingService!,matchingMainCategory!.id,matchingSubCategory!.id)
                      }} items
                    </p>
                  </div>
                </div>
                <div class="col-6 see-all-variants">
                  <p class="view-cart">
                    <ion-button
                      class="service-common-button w-100"
                      color="dark"
                      (click)="ViewCart()"
                    >
                      View Cart
                    </ion-button>
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="coupon">
            <img src="../../../assets/couponTag.svg" alt="" />
            <p>Apply Coupons to save upto 70%!</p>
          </div>

          <div class="page-variants">
            <div class="variants">
              <div
                lines="none"
                class="variant"
                *ngFor="let variant of matchingService?.variants;"
              >
                <div class="" style="width: -webkit-fill-available">
                  <div class="row detail">
                    <div class="col-8 name variant-name">
                      <p></p>
                      {{variant.name}}
                      <p *ngIf="variant.actualJobDuration">
                        ({{variant.actualJobDuration}} min)
                      </p>
                    </div>
                    <br />
                    <p class="col-4 price">
                      {{variant.price | currency:'INR'}}
                    </p>
                  </div>
                  <div class="cart-button">
                    <div
                      class="remove-pading1"
                      no-lines
                      id="{{variant.id}}"
                      [ngStyle]="{'display':this.cartService.isInCart(matchingService!,variant.id,matchingMainCategory!.id,matchingSubCategory!.id)?'flex':'none'}"
                    >
                      <div class="addremove-div">
                        <button
                          fill="outline"
                          class="remove"
                          color="dark"
                          (click)="decrementQuantity(matchingMainCategory!.id,matchingSubCategory!.id,matchingService!,variant.id)"
                        >
                          -
                        </button>
                        <input
                          class="input-div"
                          type="number"
                          id="input{{variant.id}}"
                          text-center
                          [value]="this.cartService.getQuantity(matchingService!,variant.id,matchingMainCategory!.id,matchingSubCategory!.id)"
                          min="1"
                          max="5"
                        />
                        <button
                          fill="outline"
                          class="add"
                          color="dark"
                          (click)="incrementQuantity(matchingMainCategory!.id,matchingSubCategory!.id,matchingService!,variant.id)"
                        >
                          +
                        </button>
                      </div>
                      <div class="remove-div">
                        <button
                          fill="outline"
                          class="remove-item"
                          (click)="removeFromCart(matchingMainCategory!.id,matchingSubCategory!.id,matchingService!,variant.id)"
                          color="danger"
                        >
                          Remove item
                        </button>
                      </div>
                    </div>
                    <ion-item
                      class="remove-pading"
                      lines="none"
                      class="{{variant.id}}"
                      *ngIf="!this.cartService.isInCart(matchingService!,variant.id,matchingMainCategory!.id,matchingSubCategory!.id)"
                    >
                      <ion-grid>
                        <ion-row>
                          <div class="row addCartdiv">
                            <ion-col>
                              <div class="ionbut">
                                <button
                                  class="button1"
                                  (click)="addToCart(variant)"
                                >
                                  <ion-icon name="cart-outline"></ion-icon>
                                </button>
                              </div>
                              <!-- </div> -->
                            </ion-col>
                            <ion-col>
                              <div class="col-6" style="text-align: end">
                                <button
                                  class="addCartdiv-buttons"
                                  fill="outline"
                                  color="dark"
                                  (click)="bookNow(matchingMainCategory!.id,matchingService!.id,variant.id)"
                                >
                                  Book Now
                                </button>
                              </div>
                            </ion-col>
                          </div>
                        </ion-row>
                      </ion-grid>
                    </ion-item>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <ion-accordion-group #accordionGroup class="page-accordion">
          <ion-accordion value="first">
            <ion-item slot="header" color="light">
              <ion-label>Description</ion-label>
            </ion-item>
            <div class="ion-padding descriptionBody" slot="content">
              <div class="pdt-desc">
                <div
                  class="details"
                  *ngFor="let des of this.matchingService?.description.blocks"
                >
                  <div class="header">
                    <h4 *ngIf="des.type ==='header'">{{des.data.text}}</h4>
                    <div class="list" *ngIf="des.type ==='list'">
                      <div
                        class="description"
                        *ngFor="let item Of des?.data?.items"
                      >
                        <ion-icon
                          style="width: 6px"
                          name="ellipse-sharp"
                        ></ion-icon>
                        <strong [innerHTML]="item"></strong>
                      </div>
                    </div>
                    <div class="description" *ngIf="des.type ==='paragraph'">
                      <strong [innerHTML]="des.data.text"></strong>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </ion-accordion>
          <ion-accordion value="second" class="type">
            <ion-item slot="header" color="light">
              <ion-label>Type</ion-label>
            </ion-item>
            <div class="ion-padding service-types" slot="content">
              <div class="service-box">
                <p
                  class="server-type"
                  *ngFor="let type Of matchingService?.tags"
                  (click)="tags = type"
                  [ngClass]="{active:tags===type}"
                >
                  {{type}}
                </p>
              </div>
            </div>
          </ion-accordion>
        </ion-accordion-group>

        <!-- <div
        class="row"
        [ngClass]="{'rating-div':!matchingService?.averageRating}"
      >
        <div class="col">
          <h2>Customer Review</h2>
          <div class="no-ratings" *ngIf="!matchingService?.averageRating">
            <span>Currently No ratings available.....</span>
          </div>
        </div>
      </div> -->

        <!-- <div *ngIf="matchingService?.rating" class="rating-main-div">
        <div class="row" *ngFor="let CustReview of matchingService?.rating">
          <div class="col mt-4" *ngIf="matchingService?.averageRating">
            <div class="card">
              <div class="card-body">
                <div class="row card-title clearfix">
                  <div class="col-9" slot="start">
                    <ion-item>
                      <ion-avatar slot="start">
                        <img
                          alt="Silhouette of a person's head"
                          src="https://ionicframework.com/docs/img/demos/avatar.svg"
                        />
                      </ion-avatar>
                      <h5>
                        {{CustReview.userName}}<br /><small
                          >{{CustReview.createAt.toDate() | date }}</small
                        >
                      </h5>
                    </ion-item>
                  </div>
                  <div class="col-3 float-right mt-4 ml-4">
                    <p class="float-right" style="font-size: 20px">
                      <ion-icon name="star" style="margin-right: 5px"></ion-icon -->
        <!-- >{{CustReview.rating}}
                    </p>
                  </div>
                </div>
                <h5 class="card-title" style="font-weight: 600">
                  {{CustReview.reviewTitle}}
                </h5>
                <p class="card-text">{{CustReview.serviceReview}}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>  -->
      </div>
    </div>
  </div>
</ng-container>
