
<div class="main">
  <!-- Toolbar -->
  <ion-header [translucent]="true">
    <ion-toolbar>
      <ion-icon name="arrow-back-outline" class="back-icon"></ion-icon
      ><span class="booking-title">Booking Details</span>
      <img class="notification" src="../../assets/fi-rr-bell.svg" alt="" />
      <img class="notification" src="../../assets/Ellipse 1.svg" alt="" />
    </ion-toolbar>
  </ion-header>

  <!-- Order ID card -->
  <div class="container">
    <div class="row">
      <h6>Order ID</h6>
      <span><h6>Order Date</h6></span>
    </div>
    <div class="row-1">
      <h6>{{orderId}}</h6>
      <span><h6>{{orderDate}}</h6></span>
    </div>
  </div>

  <!-- Profile Section -->
  <div class="Profile">
    <div class="icon-text">
      <!-- Profile icon image -->
      <img class="profile-icon" src="../../assets/profile.svg" alt="" />
      <p>Professional Assigned</p>
    </div>

    <!-- Profile image & Name -->
    <div class="image">
      <div class="row-2">
        <img class="profile-pic" src="../../assets/mukesh.svg" alt="" />
        <p>{{name}}</p>
        <!-- Call button -->
        <button>
          <img class="call" src="../../assets/Icon- Outline.svg" alt="" />
        </button>
      </div>
      <!-- Rating -->
      <div class="row-3">
        <img class="star" src="../../assets/star.svg" alt="" />
        <span style="margin-left: 3px">4.5 (87)</span>
      </div>

      <!-- OTP -->
      <div class="row-4">
        <h5>OTP to start the service</h5>
        <div>2</div>
        <div>2</div>
        <div>2</div>
        <div>2</div>
      </div>
    </div>
  </div>
  <!-- Offer water -->
  <div class="water">
    <img class="glass-image" src="../../assets/glass 1.svg" alt="" />
    <span><p>Offer drinking water to the professional</p></span>
  </div>

  <!-- Service Section -->
  <div class="Service-section">
    <!-- Card header -->
    <div class="row-5">
      <p class="head">Services</p>
      <div class="row-6">
        <p class="body">Complete</p>
      </div>
    </div>
    <!-- Price and Subject -->
    <div class="row-7" *ngFor="let service of services">
      <div class="left">
        <img class="image" [src]="service.img" alt="" />
        <span class="head">{{service.head}}</span><br />
        <span class="body">{{service.body}}</span>
        <span class="body1">{{service.body1}}</span>
      </div>
      <div class="row-8">
        <section class="right">{{service.amount}}</section>
      </div>
    </div>
    <!-- Total price and pay format  -->
    <div class="total">
      <div class="row-9">
        <h6>Total</h6>
        <span><h5>{{price}}</h5></span>
      </div>
      <div class="row-10">
        <h6>Delivery Mode</h6>
        <span><h5>COD</h5></span>
      </div>
    </div>
  </div>

  <!-- Date and Time -->
  <div class="third-section">
    <div class="row-1">
      <p class="head">Date & Time</p>
    </div>

    <div class="row-2" *ngFor="let date of dateNtime">
      <section>
        <img style="margin-top: 4px" [src]="date.img" alt="" />
      </section>

      <section style="margin-left: 10px">
        <span class="head">{{date.head}}</span><br />

        <span class="body">{{date.body}}</span>
      </section>
    </div>
  </div>

  <!-- Address -->
  <div class="address">
    <div class="row-1">
      <p class="head">Address</p>
    </div>

    <div class="row-2">
      <section style="margin-left: 10px">
        <p class="head">Arpita</p>
        <p class="body">9125332151</p>
        <p class="body">4517 Washington Ave. Manchester, Kentucky 39495</p>
      </section>
    </div>
  </div>

  <!-- Payment Details -->
  <div>
    <ion-card class="payment">
      <ion-card-header style="border-bottom: 1px double #d7d7d7">
        <div class="title">Payment Details</div>
        <span> <div class="head">Total Duration</div></span>
        <span><div class="body">{{duration}}</div></span>
        <span> <div class="head">Total (MRP)</div></span>
        <span><div class="body">{{mrp}}</div></span>
        <span> <div class="head">Discount</div></span>
        <span
          ><div class="body" style="color: #579540">{{discount}}</div>
        </span>
        <span><div class="head">Discounted Price</div> </span>
        <span><div class="body">{{discountedPrice}}</div> </span>
        <!-- Total Price -->
        <div style="border-top: 2px dashed #d7d7d7">
          <span><div class="total-price">Total</div> </span>
          <span><div class="amount">{{discountedPrice}}</div> </span>
        </div>
        <!-- Banner -->
        <div class="offer-bar">
          <img class="tag-image" src="../../assets/tag.svg" alt="" />
          <p class="tag-text">Yay! You have saved ₹550 on final bill</p>
        </div>
      </ion-card-header>
    </ion-card>
  </div>

  <!-- Rating -->
  <div class="review-section">
    <!-- Card header -->
    <div class="row-5">
      <p class="head">Rating Of This Service</p>
    </div>
    <!-- Price and Subject -->
    <div class="row-7" *ngFor="let ratings of rating">
      <div class="left">
        <img class="image" [src]="ratings.img" alt="" />
        <span class="head">{{ratings.head1}}</span><br />
        <span class="head">{{ratings.head2}}</span><br />
        <span class="body">{{ratings.body}}</span>

        <span class="body1">{{ratings.body1}}</span>
      </div>

      <div class="row-8">
        <section class="right">{{ratings.amount}}</section>
      </div>

      <!-- Rating by people -->
      <div class="rating">
        <p style="margin-right: 10px; ">{{ratings.rate}}</p>
        <span><img src="../../assets/star-filled.svg" alt=""></span>
        <span><img src="../../assets/star-filled.svg" alt=""></span>
        <span><img src="../../assets/star-filled.svg" alt=""></span>
        <span><img src="../../assets/star-outlined.svg" alt=""></span>
        <span><img src="../../assets/star-outlined.svg" alt=""></span>
      </div>
      
    </div>

    <!-- Footer -->
    <ion-footer>
    <ion-toolbar>
      <ion-title>
        <div class="footer">
          <div >
            <img src="../../assets/home.svg" alt="">
            <p>Home</p>
          </div>
          <div >
            <img src="../../assets/calendarF.svg" alt="">
            <p>Bookings</p>
          </div>
          <div >
            <img src="../../assets/shopping-cart.svg" alt="">
            <p>Cart</p>
          </div>
          <div >
            <img  src="../../assets/profile.svg" alt="" style="margin-top: 4px;">
            <p>Profile</p>
          </div>
        </div>
      </ion-title>
    </ion-toolbar>
  </ion-footer>
    <!-- Main div -->
  </div>
</div>

<div class="container">
  <div class="row">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button default-href="#"></ion-back-button>
        <h2>Details</h2>
      </ion-buttons>

    </ion-toolbar>
  </div>
</div>

<ion-content [fullscreen]="true">
  <div class="container" id="container">
    <ion-header collapse="condense">
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-back-button default-href="#"></ion-back-button>
          <h2>Details</h2>
        </ion-buttons>

      </ion-toolbar>
    </ion-header>
    <div class="row">
      <div id="carouselExampleIndicators" class="carousel slide">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
            aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
            aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
            aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img
              src="\assets\ySttjxv+shR5gqJqBqPPTwt45_9ZJYvHRV4LA2zzMMjgNQlh2k8RSba0EsvPddjTsPWcARJQxgnN_h8bio3WyspkXKoVC_yVts7wqX6K4nw96BcxcxkA8498aD59ECdXrOnziBElBUv0CeTUAeR7Qeb7V.png"
              class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img
              src="\assets\ySttjxv+shR5gqJqBqPPTwt45_9ZJYvHRV4LA2zzMMjgNQlh2k8RSba0EsvPddjTsPWcARJQxgnN_h8bio3WyspkXKoVC_yVts7wqX6K4nw96BcxcxkA8498aD59ECdXrOnziBElBUv0CeTUAeR7Qeb7V.png"
              class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img
              src="\assets\ySttjxv+shR5gqJqBqPPTwt45_9ZJYvHRV4LA2zzMMjgNQlh2k8RSba0EsvPddjTsPWcARJQxgnN_h8bio3WyspkXKoVC_yVts7wqX6K4nw96BcxcxkA8498aD59ECdXrOnziBElBUv0CeTUAeR7Qeb7V.png"
              class="d-block w-100" alt="...">
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
          data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
          data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>
    <div class="row ">
      <div class="col ">
        <h2>Complete Kitchen L Shape</h2>
        <p><ion-icon name="star"></ion-icon>4.5 (87)</p>
      </div>
      <div class="col text-end">
        <h3>
          ₹799
          <small>-₹499</small>
        </h3>
        <ion-button color="success" size="small"><small>10% OFF</small> </ion-button>
      </div>
    </div>
    <div class="row">
      <div class="col text-left">
        <div class="card text-bg-light rounded text-left">

          <h5 class="card-title">Product Description</h5>
          <span class="card-text"><small>
              <ul>
                <li>Time duration-60 to 70 min.</li>
                <li>Time frequency-4 to 5 months</li>

                <li>Covered-Mesh and filter deep clean</li>
                <li>Exterior cleaning.</li>

              </ul>
            </small>
          </span>
        </div>
      </div>
    </div>
    <div class="row mt-4 text-left">
      <h3>Type</h3>
      <div class="col">
        <ion-button color="dark" size="small"><small>Complete Kitchen</small> </ion-button>
        <ion-button color="light" size="small"><small>Complete Kitchen With Chinmey</small> </ion-button>
        <ion-button class="mt-3 " color="light" size="small"><small>Complete Kitchen With Appliance</small>
        </ion-button>
        <ion-button class="mt-3" color="light" size="small"><small>Complete Kitchen With Appliance & Chinmey</small>
        </ion-button>
      </div>
    </div>
    <div class="row mt-4 text-left">
      <h3>Customer Review</h3>
      <h4><small>Total:</small> ₹799</h4>
      <div class="col-6">
        <ion-button fill="outline" color="dark" size="large">Add To Cart</ion-button>

      </div>
      <div class="col-6 text-end">

        <ion-button color="dark" size="large">Book Now</ion-button>
      </div>
    </div>
    <div class="row " *ngFor="let CustReview of CustomerReview">
      <div class="col mt-4" >

        <div class="card">
          <div class="card-body">
            <div class="row card-title clearfix">
              <div class="col-7" slot="start">
                <ion-item>
                  <ion-avatar slot="start">
                    <img alt="Silhouette of a person's head"
                      src="https://ionicframework.com/docs/img/demos/avatar.svg" />

                  </ion-avatar>

                  <h5>{{CustReview.Name}}<br><small>{{CustReview.date}}</small></h5>

                </ion-item>

              </div>
              <div class="col-5  float-right mt-4 ml-4" >
                    <p class=" float-right"><ion-icon name="star"></ion-icon>4.5</p>
                </div>
            </div>
            <h5 class="card-title">{{CustReview.review}}</h5>
            <p class="card-text">{{CustReview.Comment}}</p>
           
          </div>
        </div>
      </div>
    </div>

  </div>
</ion-content>

