    <!-- Meta Pixel Code -->
    <script>
      !function(f,b,e,v,n,t,s)
      {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
      n.callMethod.apply(n,arguments):n.queue.push(arguments)};
      if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
      n.queue=[];t=b.createElement(e);t.async=!0;
      t.src=v;s=b.getElementsByTagName(e)[0];
      s.parentNode.insertBefore(t,s)}(window, document,'script',
      'https://connect.facebook.net/en_US/fbevents.js');
      fbq('init', '1568394303656056');
      fbq('track', 'PageView');
      </script>
      <noscript><img height="1" width="1" style="display:none"
      src="https://www.facebook.com/tr?id=1568394303656056&ev=PageView&noscript=1"
      /></noscript>
      <!-- End Meta Pixel Code -->

<app-header-with-back
  *ngIf="isDesktopview"
  [title]="'All Categories'"
  [showNotificationIcon]="false"
  [showHomeIcon]="true"
></app-header-with-back>

<ng-container *ngIf="isMobileview">
  <div class="container-fluid">
    <div class="row">
      <ion-header collapse="fade" mode="ios">
        <div class="input-group mb-3 mt-4">
          <button id="search">
            <span class="left-arrow" routerLink="../home">
              <img src="../../../assets/icon/leftArrow/leftArrow.svg" alt="" />
            </span>
            <p routerLink="../search" class="search-bar">
              Search
              <span class="searchText">
                &nbsp; {{categories[searchedIndex]['name']}}
              </span>
            </p>
            <span>
              <img src="../../../assets/ui_icons/search.svg" alt="" />
            </span>
          </button>
        </div>
      </ion-header>
    </div>
    <h2>All Categories</h2>

    <div class="allCategory-div">
      <div class="details" *ngFor="let mainCategory of categories">
        <div class="category-det">
          <a routerLink="../sub-Categories/{{mainCategory.id}}">
            <img src="{{mainCategory.icon}}" alt="" />
          </a>
          <span>{{mainCategory.name}}</span>
        </div>
      </div>
    </div>
  </div>
</ng-container>

<div *ngIf="isDesktopview" class="back-container">
  <div class="main-container">
    <div class="allCategory-div">
      <div class="details" *ngFor="let mainCategory of categories">
        <div class="category-det">
          <a (click)="showSubCategories(mainCategory.id)">
            <img src="{{mainCategory.icon}}" alt="" />
          </a>
          <span>{{mainCategory.name}}</span>
        </div>
      </div>
    </div>
  </div>
</div>
