<app-header-with-back
  *ngIf="isDesktopview"
  [title]="'All Categories'"
  [showNotificationIcon]="false"
  [showHomeIcon]="true"
></app-header-with-back>

<ng-container *ngIf="isMobileview">
  <div class="container-fluid">
    <div class="row">
      <ion-header collapse="fade" mode="ios">
        <div routerLink="../search" class="input-group mb-3 mt-4">
          <button id="search">
            <span class="left-arrow" routerLink="../home">
              <img src="../../../assets/icon/leftArrow/leftArrow.svg" alt="" />
            </span>
            <!-- <p>{{'Search '+ categories[searchedIndex]['name']}}</p> -->
            <input
              type="search"
              routerLink="../search"
              class="searchText"
              [placeholder]="'Search '+ categories[searchedIndex]['name']"
              name=""
              #search
            />
            <span>
              <img src="../../../assets/ui_icons/search.svg" alt="" />
            </span>
          </button>
        </div>
      </ion-header>
    </div>
    <h2>All Categories</h2>

    <div class="allCategory-div">
      <div class="details" *ngFor="let mainCategory of categories">
        <div class="category-det">
          <a routerLink="../sub-Categories/{{mainCategory.id}}">
            <img src="{{mainCategory.icon}}" alt="" />
          </a>
          <span>{{mainCategory.name}}</span>
        </div>
      </div>
    </div>
  </div>
</ng-container>

<div *ngIf="isDesktopview" class="back-container">
  <div class="main-container">
    <div class="allCategory-div">
      <div class="details" *ngFor="let mainCategory of categories">
        <div class="category-det">
          <a (click)="showSubCategories(mainCategory.id)">
            <img src="{{mainCategory.icon}}" alt="" />
          </a>
          <span>{{mainCategory.name}}</span>
        </div>
      </div>
    </div>
    <div class="image">
      <img src="assets/images/login.png" alt="All Categories" />
    </div>
  </div>
</div>
