<ng-container *ngIf="isMobileview">
  <div class="container-fluid">
    <div class="row">
      <ion-header collapse="fade" mode="ios">
        <div class="input-group mb-3 mt-4">
          <button id="search">
            <span class="left-arrow" routerLink="../home">
              <img src="../../../assets/icon/leftArrow/leftArrow.svg" alt="" />
            </span>
            <input
              type="search"
              routerLink="../search"
              placeholder="Search Category"
              name=""
              id=""
            />
            <span>
              <img src="../../../assets/ui_icons/search.svg" alt="" />
            </span>
          </button>
        </div>
      </ion-header>
    </div>
    <h2>All Categories</h2>

    <div class="allCategory-div">
      <div class="details" *ngFor="let mainCategory of categories">
        <div class="category-det">
          <a routerLink="../sub-Categories/{{mainCategory.id}}">
            <img src="{{mainCategory.icon}}" alt="" />
          </a>
          <span>{{mainCategory.name}}</span>
        </div>
      </div>
    </div>
  </div>
</ng-container>
<ng-container *ngIf="isDesktopview">
  <ion-header class="desktop-header">
    <ion-toolbar class="desktop-view-tab">
      <ion-buttons slot="start" (click)="back()">
        <img
          class="leftArrow"
          src="assets/icon/leftArrow/leftArrow.svg"
          alt=""
        />
      </ion-buttons>
      <ion-title>All Categories</ion-title>
      <ion-buttons class="cross-div" slot="end" (click)="back()">
        <img src="../../../assets/icon/cross-23.svg" alt="" />
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  <ion-content [fullscreen]="true">
    <div class="">
      <div class="allCategory-div">
        <div class="details" *ngFor="let mainCategory of categories">
          <div class="category-det">
            <a (click)="showSubCategories(mainCategory.id)">
              <img src="{{mainCategory.icon}}" alt="" />
            </a>
            <span>{{mainCategory.name}}</span>
          </div>
        </div>
      </div>
    </div>
  </ion-content>
</ng-container>
