.services{
	display: flex;
	flex-direction: column;
	padding: 0px;
	gap:5px;
	.service{
		display: flex;
		justify-content: flex-start;
		gap:20px;
		background: white;
		box-shadow: 0px 0px 15px rgba(0,0,0,0.1);
		padding: 10px;
		border-bottom:2px solid #dcdcdc;
		img{
			width: 100px;
			height: 100px;
			border-radius: 15px;
			object-fit: cover;
			padding: 10px;
		}
		.content{
			display: flex;
			flex-direction: column;
			gap:6px;
			.price{
				display: flex;
				span{
					color: green;
					font-size: 20px;
				}
			}
		}
	}
}